<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
<title>Controller Usage Examples</title>

</head>

<body  ng-controller="GameController" ng-init="">
  <h3>Here is where we will load each controller to do simple static and integration tests.</h3>

  <div ng-controller="PlayerController">
   Update Player  
   <input type="submit" value="Update Player Profile" ng-click="update_player_profile"><br>

   <input 
   <ul>
    <li name="nickname">Current player nickname: {{player.nickname}}</li>
   </ul>
  </div>

  <div ng-controller="QuestController" ng-init="model='Quest';list();difficulty='Easy';">
   
    Saved Quests:<br>
    <ul name="saved_quests">  
      <li ng-repeat="quest in quests">
        ID {{quest.id}}, Name {{quest.name}}, StoryID {{quest.story}}, PathID {{quest.path}}, Difficulty {{quest.difficulty}}, ({{quest.numSolved}}/{{quest.numProblems}}) Solved
        <input type="submit" value="Play Quest Game from GameController" ng-click="create_quest_game(quest.id);">
      </li>
    </ul>
    
    Current Quest: <br>
    name {{quest.name}}<br>
    numSolved {{quest.numSolved}}<br>
    videos {{quest.vidoes}}<br>

    <!-- Could pull stories from story controller later on -->
    <div ng-controller="StoryController" ng-init="list();">
     <br>
      Stories <select name="story_select" ng-model="$parent.storyID" ng-options="story.id as story.name for story in stories"></select>
      StoryID: {{$parent.storyID}} <br>  
      <!-- <img src="{{stories[0].imageURL}}"> --> 
    </div>
        
    <!-- Use the PathController to fill the Path dropdown box-->
    <div ng-controller="PathController" ng-init="list();$parent.pathID=10030;get_player_progress();">
      The player has played on {{player_progress.paths.length}} paths.<br>
      <div ng-hide="difficulty=='Drag-n-Drop'">
        Path <select name="path_select" ng-model="$parent.pathID" ng-options="item.id as item.description for item in paths.paths"></select>
        PathID: {{$parent.pathID}}<br>
      </div>
      <div ng-show="difficulty=='Drag-n-Drop'">
        Drag-n-Drop Path <select name="mobile_path_select" ng-model="$parent.pathID" ng-options="item.path_id as item.description for item in mobile_paths"></select>
        PathID: {{$parent.pathID}}<br>
      </div>
      
    </div>

    Difficulty <select name="difficulty_select" ng-model="difficulty" ng-options="item.id as item.name for item in [{'name':'Drag-n-Drop', 'id':'Drag-n-Drop'},{'name':'Easy','id':'Easy'},{'name':'Medium', 'id':'Medium'},{'name':'Hard','id':'Hard'}]"></select>
    Difficulty : {{difficulty}}<br>

    <input type="submit" value="Create New Quest" ng-click="item.name='New Quest';create_new_quest(storyID,pathID,difficulty)"><br>
  </div> <!-- end Quest Controller-->
  
      {{quest}}<br>
      Quest Details for current Game. <br>
      Quest Progress ({{quest.numSolved}}/{{quest.numProblems}})<br>
      Quest videos {{quest.videos}}<br><br>
      Game Details<br>
        <ul name="game_details">
          <li name="quest_game_id">GameID = {{game.gameID}}</li>
          <li name="quest_game_player">Game Player = {{game.player}}</li>
          <li name="number_of_problems">Number of Problems = {{game.numProblems}}</li>
          <li name="number_of_solved_problems">Number Solved = {{game.solvedProblemIDs.length}}</li>
          <li>All Solved = {{game.allSolved}}</li>
          <li>Status = {{game.status}}</li>
          <li>ProblemIDs = {{game.problemIDs}}</li>
          <li>Solved ProblemIDs = {{game.solvedProblemIDs}}</li>
          <li>Remaining problems to solve = {{remaining_problems}}</li>
          <li name="currentproblem">Current problem = {{current_problem}}</li>
          
        </ul>
        
        <br>
        Current Problem: (index {{current_problem_index}})<br>
        ID: {{game.problems.problems[current_problem_index].id}}<br>
        Name: {{game.problems.problems[current_problem_index].name}}<br>
        Description: {{game.problems.problems[current_problem_index].description}}<br>
        Examples: {{game.problems.problems[current_problem_index].examples}}<br>
        Skeleton: <br>
        <textarea ng-model="solution">{{game.problems.problems[current_problem_index].skeleton}}</textarea><br>
        codeHighlightKey: {{game.problems.problems[current_problem_index].interface.codeHighlightKey}}<br>

          <div ng-show="game.problems.problems[current_problem_index].lines">
              This is a Mobile Problem with lines:<br>
              <ol>
                <li ng-repeat="line in game.problems.problems[current_problem_index].lines">
                  {{line}}
                </li>
              </ol>
              Enter line combination to check:
              <input type="text" ng-model="permutation">
              <input type="submit" value="Check With Permutation" ng-click="check_permutation()"><br>
              Non-error Result={{ner}}
          </div>

            <input type="Submit" value="Check Solution For Game" ng-click="check_solution_for_game()">
            <input type="Submit" value="Verify Solution" ng-click="verify_solution()">
            <input type="Submit" value="Skip Problem" ng-click="skip_problem()"><br>

              <br>Game {{game.gameID}}<br>

            Solved: <b>{{solution_check_result.solved}}</b><br>
            Last_Solved: <b>{{solution_check_result.last_solved}}</b><br>
            <table border=1 bgcolor=#FFFFFF>
              <tr>   
                <th>Called</th>
                <th>Expected</th>
                <th>Recieved</th>
                <th>Correct</th>    
              </tr>
              <tr ng-repeat="line in solution_check_result.results">
                <td>{{line.call}}</td>
                <td>{{line.expected}}</td>
                <td>{{line.received}}</td>
                <td ng-show="line.status" bgcolor=#00FF00>{{line.status}}</td>
                <td ng-show="!line.status" bgcolor=#FF0000>{{line.status}}</td>     
              </tr>
            </table>
            Errors: {{solution_check_result.errors}}
          <!--</div>-->

  <div ng-controller="InterfaceController">
   Interfaces Controller
   <p>Interfaces Count = {{interfaces.interfaces.length}}</p>
   Available Languages:
    <ul>
      <li ng-repeat="interface in interfaces.interfaces">
          {{interface.name}}
      </li>
    </ul>
  </div>

  <div ng-controller="ProblemController" ng-init="problemsetID=11021;get_progress();get_problems();">
    
    Problems in problemset 11021 with progress ({{progress.currentPlayerProgress}}/{{progress.problemsInProblemset}})

    <ol>
      <li ng-repeat="problem in problems.problems">
        {{problem.name}} ({{problem.id}}) <font color="green" ng-show="problem.solved">solved</font>
      </li>
    </ol>

  </div>

<!-- Nest the PathController DIV in the GameController DIV to lauch games -->
<div ng-controller="GameController"> 
  
  <div ng-controller="PathController">
   Path Controller
   <p>Path Count = {{paths.paths.length}}</p>
   Available Game Paths:
  
    <ul>
      <li ng-repeat="path in paths.paths">
          {{path.name}} ({{path.id}}) <input type="submit" value="Play Path Game" ng-click="create_path_game(path.id,3)"> 
      </li>
    </ul>
    
    Player Paths {{player_paths.paths.length}}
    <ul>
      <li ng-repeat="path in player_paths.paths">
          {{path.name}} 
      </li>
    </ul>
    Current Paths <span name="current_paths">{{current_paths.paths.length}}</span>
    <ul>
      <li ng-repeat="path in current_paths.paths">
          {{path.name}} <input type="submit" value="Play Path Game" ng-click="create_path_game(path.id,3)"> 
      </li>
    </ul>
    Other Paths {{other_paths.paths.length}} 
    <ul>
      <li ng-repeat="path in other_paths.paths">
          {{path.name}} 
      </li>
    </ul>  

    Beginner Paths {{mobile_paths.length}} 
    <ul>
      <li ng-repeat="path in mobile_paths">
          {{path.name}} 
      </li>
    </ul>

    Player Path Progress
    <ul name="playerpathprogress">
      <li ng-repeat="(k,v) in path_progress">
          {{v.path.name}} (id={{k}}) Progress {{v.currentPlayerProgress}}/{{v.problemsInPath}} 
      </li>
    </ul> 
   
    <input type="Submit" value="Update Path Details" ng-click="update_path_details()">
    <input type="Submit" value="Update Progress 10030" ng-click="update_path_progress(10030)">    
    <input type="Submit" value="Update Progress 2462233" ng-click="update_path_progress(2462233)">
    <input type="Submit" value="Update Progress 6920762" ng-click="update_path_progress(6920762)"> 
  </div>

  <div ng-controller="ProblemsetController" ng-init="get_problemsets(10030);">
    Problemsets for path 10030: 
    <ul>
      <li ng-repeat="level in problemsets.problemsets">
        {{level.name}} ({{level.id}}) <input type="submit" value="Play Game On Level" ng-click="create_problemset_game(level.id,3)">
      </li>
    </ul>
    
  </div>
  
  <hr>
    Game Controller
    <ul>
      <li>GameID = {{game.gameID}}</li>
      <li>Game Player = {{game.player}}</li>
      <li name="numberofproblems">Number of Problems = {{game.numProblems}}</li>
      <li>Number Solved = {{game.solvedProblemIDs.length}}</li>
      <li>All Solved = {{game.allSolved}}</li>
      <li>Status = {{game.status}}</li>
      <li>ProblemIDs = {{game.problemIDs}}</li>
      <li>Solved ProblemIDs = {{game.solvedProblemIDs}}</li>
      <li>Remaining problems to solve = {{remaining_problems}}</li>
      <li name="currentproblem">Current problem = {{current_problem}}</li>
      
    </ul>
    <input type="Submit" value="Load Game 0" ng-click="fetch(0)">
    <input type="Submit" value="Load Game 2" ng-click="fetch(2)">
    <input type="Submit" value="Load Game 3" ng-click="fetch(3)">
    <input type="Submit" value="Load Mobile Game" ng-click="fetch(10)">
    <input type="Submit" value="Create Practice Game" ng-click="create_practice_game()">
    <input type="Submit" value="Create Tournament Game" ng-click="create_tournament_game()">
    <input type="Submit" value="Create Quest Game" ng-click="create_quest_game()">
    <br>
    Current Problem: (index {{current_problem_index}})<br>
    ID: {{game.problems.problems[current_problem_index].id}}<br>
    Name: {{game.problems.problems[current_problem_index].name}}<br>
    Description: {{game.problems.problems[current_problem_index].description}}<br>
    Examples: {{game.problems.problems[current_problem_index].examples}}<br>
    Skeleton: <br>
    <textarea ng-model="solution">{{game.problems.problems[current_problem_index].skeleton}}</textarea><br>
    codeHighlightKey: {{game.problems.problems[current_problem_index].interface.codeHighlightKey}}<br>

    <div ng-show="game.problems.problems[current_problem_index].lines">
      This is a Mobile Problem with lines:<br>
      <ol>
        <li ng-repeat="line in game.problems.problems[current_problem_index].lines">
          {{line}}
        </li>
      </ol>
      Enter line combination to check:
      <input type="text" ng-model="permutation">
      <input type="submit" value="Check With Permutation" ng-click="check_permutation()"><br>
      Non-error Result={{ner}}
    </div>

    <input type="Submit" value="Check Solution For Game" ng-click="check_solution_for_game()">
    <input type="Submit" value="Verify Solution" ng-click="verify_solution()">
    <input type="Submit" value="Skip Problem" ng-click="skip_problem()"><br>

    Solved: <b>{{solution_check_result.solved}}</b><br>
    Last_Solved: <b>{{solution_check_result.last_solved}}</b><br>
    <table border=1 bgcolor=#FFFFFF>
      <tr>   
        <th>Called</th>
        <th>Expected</th>
        <th>Recieved</th>
        <th>Correct</th>    
      </tr>
      <tr ng-repeat="line in solution_check_result.results">
        <td>{{line.call}}</td>
        <td>{{line.expected}}</td>
        <td>{{line.received}}</td>
        <td ng-show="line.correct" bgcolor=#00FF00>{{line.correct}}</td>
        <td ng-show="!line.correct" bgcolor=#FF0000>{{line.correct}}</td>     
      </tr>
    </table>
  </div>

<hr>
<div ng-controller="TournamentController" ng-init="fetch_tournaments();tournamentID=12877002;fetch_heat(12883052);">
    Tournament Controller<br>
    Open Tournaments
    <ol>
      <li ng-repeat="entry in tournaments">
        {{entry.description}}, {{entry.created}}
      </li>
    </ol>

    Enter password for tournament {{tournamentID}}<br>
    <input type="text" ng-model="tournamentPassword">
    <input type="submit" value="Register" ng-click="register_for_tournament()"><br>
    Registration Result: {{registration_response}}
    <br>
    <input type="submit" value="Play Tournament Game" ng-click="create_heat_game()">
    <br>
    Current tournament gameID = {{game.gameID}}<br>
    Number of problems {{game.numProblems}}<br>
    ProblemIDs {{game.problemIDs}}<br>
    Number of solved problems {{game.numSolvedProblems}}<br>
    <br>


    Results for Heat 12883052
    <ol>
      <li ng-repeat="entry in heat.ranking">
        {{entry.nickname}}, {{entry.solved_problems}}/{{entry.total_problems}}
      </li>
    </ol>

  </div>

<!--
<div ng-controller="GenericRestController" ng-init="model='Story';list();item.name='The Spy Who Coded';">
   
  Managing stories using the Generic Controller<br>
  Stories: {{items}}<br>
  Stories:    
    <ol>
      <li ng-repeat="entry in items">
        {{entry}} 
        <input type="submit" value="Edit" ng-click="load(entry.id)">
        <input type="submit" value="Delete" ng-click="delete(entry.id)">
      </li>
    </ol>

    <input type="submit" value="Add New Story" ng-click="item.videos = [];add();">
    <input type="submit" value="Save Current Story" ng-click="update(item.id)">
    <input type="submit" value="List" ng-click="list()"><br>
    
    Current Item: {{item}}<br>
    Current Story: <br>  
    <input type="text" ng-model="item.name"><br>
    Videos: {{item.videos.length}}<br>
    New Video:  <input type="text" ng-model="newVideo">
    <input type="submit" value="Add Video" ng-click="item.videos.push(newVideo)"><br>
    Videos:
    <ol>
      <li ng-repeat="video in item.videos">
        {{video}}
      </li>
    </ol>
  
  </div>
-->
  

  <div ng-controller="BadgeController">
    Badges for current player<br>
    <ul>
      <li ng-repeat="badge in playerBadges.badges">
        {{badge.description}}, <img ng-src="http://www.singpath.com{{badge.imageURL}}">, http://www.singpath.com{{badge.imageURL}}
      </li>
    </ul>
    
  </div>

<script src="../lib/angular/angular.min.js"></script>
<script src="../lib/angular/angular-resource.min.js"></script>
<script src="../js/controllers.js"></script>  
<script src="../js/admin-controllers.js"></script> 
<script src="../js/ace-directive.js" type="text/javascript"></script>  
<script src="../js/analytics.js"></script>
<script src="../js/ui-ace.js"></script>  
<script src="../js/app-config.js"></script>  
<script src="../js/app.js"></script> 


<!-- For testing -->
<script type="text/javascript">
    console.log("Current location "+document.location.host);


    if(document.location.search.indexOf("test_with=") !== -1) {
      //Pull the name of the test config from teh url. test_with=test_module.js#
      test_module = document.location.search.split('test_with=')[1].split('#')[0];
      console.log("loading test data from "+test_module);
      document.write('<script src="../../test/'+test_module+'"> </'+'script> ');
      document.write('<script src="../../test/lib/angular/angular-mocks.js"> </'+'script>  ');
    }

</script> 

<script src="../js/cookies.js"></script>   




</body>
</html>