<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
<title>Stats Controller Usage Examples</title>

<style>
th, td { padding: 2px }
</style>

</head>

<body>
  <h3>This page is to review key metrics.</h3>


<div ng-controller="CohortAnalysisController">
  <h3> Daily Cohort Analysis</h3>
  This is a way to see if improvements are being made with each release.<br> 
  <input type="submit" value="Fetch Player Events" ng-click="get_players();">
  <input type="submit" value="Analyze Player Events" ng-show="keys(player_events).length==players.length" ng-click="analyze_player_events();">
    {{players.length}} players to analyze<br>
    Fetched events for {{keys(player_events).length}}/{{players.length}}<br>
    Check: {{keys(player_events).length==players.length}}<br>
    <select ng-model="event" ng-options="k as k for (k,v) in event_list"></select>
      Seleted Event: {{event}} 
        
    Events: <!--{{cohort_event_count}}-->
    <hr>
    <b>Not implemented yet </b>
    Country <select ng-model="countryCode" ng-options="code as code for (code,name) in countryCodes"></select>
      countryCode: {{countryCode}} <br>
        
    <table>
      <tr>
        <th>Join Date (players)</th>
        <th>Cohort Return Rate </th>
        <th ng-repeat="header in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]">
          {{header}}
        </th>
      </tr>
      <tr ng-repeat="(join_day, theDaysLater) in cohort_event_count[event]">
          <td>{{join_day}} ({{players_by_join_day[join_day].length}})</td>
          <td><b>{{return_vist_count[join_day]/players_by_join_day[join_day].length * 100 | number:2}}%</b></td>
          <td ng-repeat="days_later in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]">
          <!--<td ng-repeat="(days_later,theEvents) in theDaysLater">-->
            <span ng-show="keys(theDaysLater[days_later]).length>0">{{(keys(theDaysLater[days_later]).length/players_by_join_day[join_day].length)*100 | number:2}}% ({{keys(theDaysLater[days_later]).length}})
            </span>
          </td>
      </tr>

    </table>
    Average Return Rate {{average_return_rate | number:2}}%<br>
    Weighted Return Rate <b>{{total_returns_percentage | number:2}}%</b><br>

    Event list = {{event_list}}<br>
    
</div>
 <!--
  <div ng-controller="JsonRecordController" ng-init="fetch();">
    DAU/MAU is a good proxy to measure if enagement is increasing 
    <style>
      table.span-12 .fat {font-weight: bold;}
    </style>

    <table class="span-12">
      <tr><th ng-repeat="header in ['Date', 'DAU', 'MAU', 'DAU/MAU', 'Game Players' 'Attempts', 
        'Playtime', 'Attempts/Player', 'Playtime/Player']">
          {{header}}</th>
      </tr>
      <tr ng-repeat="(k,v) in items.daus">
          <td>{{k}}</td>
          <td align="center">{{v}}</td>
          <td>{{items.maus[k]}}</td>
          <td>{{items.daumaus[k]*100 | number:2}}%</td>
      </tr>
      <tr class="fat">
          <td>Average</td>
          <td align="center">{{items.dauaverage | number:2}}</td>
          <td>{{items.mauaverage | number:2}}</td>
          <td>{{items.daumauaverage*100 | number:2}}%</td>
        
      </tr>
    </table>     

  </div>
-->

<div ng-controller="GenericRestController" ng-init="model='verifyrequest'">
   
  Managing VerifyRequest using the Generic Controller<br>
  Verify Requests:<br>
  
    <input type="submit" value="Append List" ng-click="append_list();">
    {{items.length}} verifyrequests to analyze
    <div ng-controller="VerifyRequestController">
  
      <input type="submit" value="Analyze" ng-click="analyze();"><br>
      Showing from {{items[0].response_time}} to {{items[items.length-1].response_time}}   
      <ol>
        <li ng-repeat="(k,v) in result">
         {{k}} has {{result[k].vrs.length}} entries. <br>
         TIMEOUT {{result[k].TIMEOUT}}<br>
         ERROR {{result[k].ERROR}} <br>
         PASS {{result[k].PASS}} <br>
         FAIL {{result[k].FAIL}}<br>
         PRIVATE_FAIL {{result[k].PRIVATE_FAIL}}
        </li>
      </ol>
      <div ng-repeat="(k,v) in result">
        <ol>
          Details for <b>{{k}}</b>
          <li ng-repeat="entry in result[k].vrs" ng-show="entry.result=='ERROR'">
          {{entry.result}}, seconds {{entry.microseconds/1000000.0}}, {{entry.url}} , response_time {{entry.response_time}}, response <pre>{{entry.response.errors}}</pre>
          </li>
        </ol>
      </div>

    </div>
  </div>

 <div ng-controller="TimeAndAttemptsController">
    
    Days of data: {{item.days.length}}<br>
    <table class="span-12">
      <tr><th ng-repeat="header in ['Date', 'New Players','Game Players', 'Attempts', 'Hours Played', 'Attempts/Player', 'Minutes/Player', 'DAU', 'MAU', 'DAU/MAU', 'Games','Quest Starts', 'Quest Games']">
          {{header}}</th>
      </tr>
      <tr ng-repeat="day in item.days | orderBy:'date'">
          <td>{{day.date}}</td>
          <td>{{day.newPlayers}}</td>
          <td align="center">{{day.numPlayers}}</td>
          <td>{{day.attempts}}</td>
          <td>{{day.seconds/3600 | number:2}}</td>
          <td>{{day['attempts per player'] | number:2}}</td>
          <td>{{day['seconds per player']/60 | number:2}}</td>
          <td>{{day.DAU}}</td>
          <td>{{day.MAU}}</td>
          <td>{{day.DAUMAU*100 | number:2}}%</td>
          <td>{{day.games}}</td>
          <td>{{day.quests}}</td>
          <td>{{day.questGames}}</td>
      </tr>
      <tr class="fat">
          <td>Average</td>
          <td align="center">{{item.newplayersaverage | number:2}}</td>
          <td align="center">{{item.numPlayersaverage | number:2}}</td>
          <td>{{item.attemptsaverage | number:2}}</td>
          <td>{{item.secondsaverage/3600 | number:2}}</td>
          <td>{{item.attemptsperplayeraverage | number:2}}</td>
          <td>{{item.secondsperplayeraverage/60 | number:2}}</td>
          <td>{{item.dauaverage | number:2}}</td>
          <td>{{item.mauaverage | number:2}}</td>
          <td>{{item.daumauaverage*100 | number:2}}%</td>
          <td>{{item.gamesaverage | number:2}}</td>
          <td>{{item.questsaverage | number:2}}</td>
      </tr>
    </table> 
        
  </div>

  <div ng-controller="ChurnDataController">
      Churn Data<br>
      Churning Players: {{churn_data.totalchurningplayers}} <br>
      Total Players: {{churn_data.totalplayers}}<br>
      One Day Churn Rate: <b>{{churn_data.totalchurningplayers/churn_data.totalplayers*100 | number:2}}%</b><br>
      <table class="span-12">
      <tr><th ng-repeat="header in ['Day', 'Churning Players', 'Churn Percentage']">
          {{header}}</th>
      </tr>
      <tr ng-repeat="day in churn_data.days | orderBy:'date'">
          <td align="center">{{day.date}}</td>
          <td align="center">{{day.churning_players}} / {{day.numPlayers}}</td>
          <td align="center">{{day.churning_players/day.numPlayers*100 | number:2}}% </td>
      </tr>
      </table>

  </div>

  <div ng-controller="GenericRestController" ng-init="model='playerpercentiles';">
    
    PlayerPercentiles: {{items.length}}<br>
    <input type="submit" value="Append List" ng-click="append_list()"><br>
    <table>
      <tr><th ng-repeat="header in headers">
          <a ng-click="$parent.sortColumn=headers[$index];$parent.reverse=!$parent.reverse">{{ headers[$index] }}</a></th>
      </tr>
      <tr ng-repeat="arr in items | orderBy:sortColumn:reverse">
          <td ng-repeat="val in arr" ng-bind-html-unsafe="arr[headers[$index]]"></td>
      </tr>
    </table>    
  </div>

  <div ng-controller="GenericRestController" ng-init="model='problempercentiles';">
    
    ProblemPercentiles: {{items.length}}<br>
    <input type="submit" value="Append List" ng-click="append_list()"><br>
    
    <table>
      <tr><th ng-repeat="header in headers">
          <a ng-click="$parent.sortColumn=headers[$index];$parent.reverse=!$parent.reverse">{{ headers[$index] }}</a></th>
      </tr>
      <tr ng-repeat="arr in items | orderBy:sortColumn:reverse">
          <td ng-repeat="val in arr" ng-bind-html-unsafe="arr[headers[$index]]"></td>
      </tr>
    </table>
    
  </div>

  <div ng-controller="GenericRestController" ng-init="model='players';">
    
    Players: {{items.length}}<br>
    <input type="submit" value="List" ng-click="append_list()"><br>
    
    <ol>
      <li ng-repeat="entry in items">
          {{entry}}
      </li>
    </ol>
    
  </div>

    <div ng-controller="GenericRestController" ng-init="model='challengetracking';">
    
    Challenge Tracking: {{items.length}}<br>
    <input type="submit" value="List" ng-click="append_list()"><br>
    
    <ol>
      <li ng-repeat="entry in items">
         {{entry}}, player {{entry.player}}, challenge {{entry.challenge}}
         <div ng-controller="GenericRestController" ng-init="model='player';load(entry.player)">player {{item}}
         </div>
      </li>
    </ol>
    
  </div>

<script src="../lib/angular/angular.min.js"></script>
<script src="../lib/angular/angular-resource.min.js"></script>
<script src="../js/controllers.js"></script>
<script src="../js/admin-controllers.js"></script>   
<script src="../js/ace-directive.js"></script>   
<script src="../js/analytics.js"></script>
<script src="../js/app-config.js"></script>          
<script src="../js/app.js"></script>  
<script src="../js/cookies.js"></script>    
<!-- <script src="../../test/app-test.js"></script>  -->
<!-- This data will only be on Chris' local machine -->
<!-- Conditionally load test files -->  
<script type="text/javascript">
    console.log("Current location "+document.location.host);
    if(document.location.host == "localhost:8000" || document.location.host == "localhost" || document.location.host == "smu-sis.github.io"){
      console.log("loading test data from app-test.js");
      document.write('<script src="../../../local-app-test.js"> </'+'script> ');
      document.write('<script src="../../test/lib/angular/angular-mocks.js"> </'+'script>  ');
    }
</script>

</body>
</html>