<!DOCTYPE html>
<html ng-app="quest-example">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>SingPath Quests</title>
  
  <script type='text/javascript' src='http://code.jquery.com/jquery-1.8.3.js'></script>
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/result-light.css">
  
  <script type='text/javascript' src="http://fancyapps.com/fancybox/source/jquery.fancybox.js"></script>
  <script type='text/javascript' src="./lib/angular/angular.js"></script>
  <link rel="stylesheet" type="text/css" href="http://fancyapps.com/fancybox/source/jquery.fancybox.css">
    
  <style type='text/css'>
    .fancybox-nav {
    width: 60px;       
}

.fancybox-nav span {
    visibility: visible;
}

.fancybox-next {
    right: -60px;
}

.fancybox-prev {
    left: -60px;
}

  </style>
 
  
<script type='text/javascript'> 
  angular.module('quest-example', []);
  function QuestController($scope){
        $scope.quests = [{"name":"spy1 ", "youtube":"LL-9dh31lO8"},
                         {"name":"spy2 ", "youtube":"wforb_EBcNc"},
                         {"name":"spy3 ", "youtube":"rlcYdRBC4CY"}, 
                         {"name":"spy4 ", "youtube":"s_4FHdYa8vg"},
                         {"name":"spy5 ", "youtube":"23Fv44Qra8Y"}, 
                         {"name":"spy6 ", "youtube":"uSL9dck1irQ"},
                         {"name":"1 ", "youtube":"oQai3AnmFg0"},
                         {"name":"2 ", "youtube":"DI4iQ3H8lXc"},
                         {"name":"3 ", "youtube":"Ncmg2jjB7DQ"},
                         {"name":"4 ", "youtube":"wzeHD5-jz48"},
                         {"name":"5 ", "youtube":"1L59toAQA0M"},
                         {"name":"6 ", "youtube":"6NoUm_eiBWI"},
                         {"name":"7 ", "youtube":"dUrCptEAF-4"},
                         {"name":"8 ", "youtube":"Vqf7YFkUtTk"},
                         {"name":"9 ", "youtube":"7g6Tzku6Ow8"},
                         {"name":"10 ", "youtube":"OWCj6j5Xl8Y"},
                         {"name":"11 ", "youtube":"5LdD9yhh2PI"},
                         {"name":"12 ", "youtube":"vcgsg_CxvxU"},
                         {"name":"13 ", "youtube":"mWPUoqY0CxY"},
                        ];
        $scope.change_quest = function(){
            $scope.quests = [{"name":"s1 ", "youtube":"LL-9dh31lO8"},
                             {"name":"s2 ", "youtube":"wforb_EBcNc"},
                             {"name":"s3 ", "youtube":"rlcYdRBC4CY"}, 
                            //{"name":"4 ", "youtube":""},
                            //{"name":"5 ", "youtube":""},
                            //{"name":"6 ", "youtube":""},
                            //{"name":"7 ", "youtube":""},
                            //{"name":"8 ", "youtube":""},
                            //{"name":"9 ", "youtube":""},
                            //{"name":"10 ", "youtube":""},
                            //{"name":"11 ", "youtube":""},
                            //{"name":"12 ", "youtube":""},
                            //{"name":"13 ", "youtube":""},
                            ];
                       
      };    




  };





</script>

<script type='text/javascript'>//<![CDATA[ 

// Fires whenever a player has finished loading
function onPlayerReady(event) {
    event.target.playVideo();
}

// Fires when the player's state changes.
function onPlayerStateChange(event) {
    // Go to the next video after the current one is finished playing
    if (event.data === 0) {
        $.fancybox.next();
    }
}

// The API will call this function when the page has finished downloading the JavaScript for the player API
function onYouTubePlayerAPIReady() {
    
    // Initialise the fancyBox after the DOM is loaded
    $(document).ready(function() {
        $(".fancybox")
            .attr('rel', 'gallery')
            .fancybox({
                openEffect  : 'none',
                closeEffect : 'none',
                nextEffect  : 'none',
                prevEffect  : 'none',
                padding     : 0,
                margin      : 50,
                beforeShow  : function() {
                    // Find the iframe ID
                    var id = $.fancybox.inner.find('iframe').attr('id');
                    
                    // Create video player object and add event listeners
                    var player = new YT.Player(id, {
                        events: {
                            'onReady': onPlayerReady,
                            'onStateChange': onPlayerStateChange
                        }
                    });
                }
            });
    });
    
}
//]]>  

</script>


</head>
  <body ng-controller="QuestController" background="../assets/img/examples/p6.jpg">
    <!-- This loads the YouTube IFrame Player API code -->
    <script src="http://www.youtube.com/player_api"></script>
    <input type="submit" ng-click="change_quest()"><br>
    <a ng-repeat="quest in quests" class="fancybox fancybox.iframe" href="http://www.youtube.com/embed/{{quest.youtube}}?enablejsapi=1&wmode=opaque"><font color="white">{{quest.name}}</font></a>

  </body>

</html>
