</br>
</br>
<div class="container" id="tournament" style="position:relative;">
	<div class="row-fluid">

			<div class="span2">
					<p>We are in the process of adding path and level creation to the latest user interface. In the meantime, you can use the previous user interface to create and/or edit paths, levels, and problems.</p>
			</div>
			<div class="span9">

					<a href="/ender/createMain.html">
						<button type="button" class="btn btn-primary">Create Paths and Levels</button>
					</a>
					<br>
					<a href="/ender/createProblem.html">
						<button type="button" class="btn btn-primary">Create and Edit Problems</button>
					</a>
			</div>			

	</div>
<div>