<!-- Work in progress... will replace editproblem.html when completed -->

<div class="container" ng-controller="EditProblemController">

    <div class="row">
        <div class="span12">
            <form name="editProblem" class="form-horizontal" role="form">
                
                <fieldset>
                <legend>Edit/create problems</legend>

                <div class="control-group">
                    <label class="control-label" for="interface">Choose language: </label>
                    <div class="controls">
                        <select id="interface" ng-model="interface" required="true" ng-options="i.name for i in interfaces.interfaces" ng-change="getPaths(interface)"></select>
                    </div>
                </div>

                <div class="control-group" ng-show="interface">
                    <label class="control-label" for="path">Path: </label>
                    <div class="controls">
                        <select id="path" ng-model="path" required="true" ng-options="p.name for p in paths" ng-change="getLevels(path)">
                            <option value="">new path...</option>
                        </select> 
                        <button class="btn" ng-click="newPath(interface)">new path</button>
                    </div>
                </div>

                <div class="control-group" ng-show="path">
                    <label class="control-label" for="problemSet">Level: </label>
                    <div class="controls">
                        <select id="problemSet" ng-model="problemSet" required="true" ng-options="l.name for l in problemSets" ng-change="getProblems(problemSet)">
                            <option value="">new level...</option>
                        </select> 
                        <button class="btn" ng-click="newLevel(path)">new level</button>
                    </div>
                </div>

                <div class="control-group" ng-show="problemSet">
                    <label class="control-label" for="problem">Problems: </label>
                    <div class="controls">
                        <select id="problem" ng-model="problem" required="true" ng-options="p.name for p in problems" ng-change="getProblemDetails(problem)">
                            <option value="">new problem...</option>
                        </select> 
                        <button class="btn" ng-click="newProblem(path)">new problem</button>
                    </div>
                </div>

                </fieldset>
                
                <div class="row" ng-show="problem">
                    <div class="span6">
                        
                        <fieldset>
                        <legend>Problem details</legend>

                        <div class="control-group">
                            <label class="control-label" for="desc">Description: </label>
                            <div class="controls">
                                <textarea id="desc" rows="4" ng-model="problemDetails.description" class="input-block-level"></textarea>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="solution">Solution: </label>
                            <div class="controls">
                                <textarea id="solution" rows="4" ng-model="problemDetails.solution" class="input-block-level"></textarea>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="skeleton">Skeleton: </label>
                            <div class="controls">
                                <textarea id="skeleton" rows="4" ng-model="problemDetails.skeleton" class="input-block-level"></textarea>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="examples">Examples: </label>
                            <div class="controls">
                                <textarea id="examples" rows="4" ng-model="problemDetails.examples" class="input-block-level"></textarea>
                            </div>
                        </div>

                        </fieldset>  
                    </div>

                    <div class="span6">
                        <fieldset>
                        <legend>Tests</legend>

                        <div class="control-group">
                            <label class="control-label" for="tests">Test: </label>
                            <div class="controls">
                                <textarea id="tests" rows="4" ng-model="problemDetails.tests" class="input-block-level"></textarea>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="privateTests">Private Tests: </label>
                            <div class="controls">
                                <textarea id="privateTests" rows="4" ng-model="problemDetails.privateTests" class="input-block-level"></textarea>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                <button class="btn btn-large btn-primary" ng-click="runTests()">Run</button> 
                                <button ng-class="{'btn': true, 'btn-large': true, 'btn-success': testRun.solved}" ng-click="save()" ng-disabled="!testRun.solved">Save</button>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                <h4>Test result:</h4>
                                <p ng-if="!testRun || !testRun.verification_message">
                                    The tests have not run yet.
                                </p>
                                <p ng-if="testRun.solved" class="alert alert-success">
                                    {{testRun.verification_message}}
                                </p>
                                <table class="table" ng-if="testRun.verification_message && !testRun.solved">
                                    <tr>
                                        <th>call</th>
                                        <th>expected</th>
                                        <th>received</th>
                                        <th>status</th>
                                    </tr>
                                    <tr ng-repeat="test in testRun.results" ng-class="{'alert': true, 'alert-success': test.status, 'alert-error': !test.status}">
                                        <td>{{test.call}}</td>
                                        <td>{{test.expected}}</td>
                                        <td>{{test.received}}</td>
                                        <td>{{test.status}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        </fieldset>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
