<!-- Work in progress... will replace editproblem.html when completed -->

<div class="container" ng-controller="EditProblemController">

    <div class="row">
        <div class="span6">
            <form name="SelectProblem" class="form-horizontal" role="form">
                
                <fieldset>
                <legend>Select a problems</legend>

                <div class="control-group">
                    <label class="control-label" for="interface">Choose language: </label>
                    <div class="controls">
                        <select id="interface" ng-model="interface" ng-options="i.name for i in interfaces.interfaces" ng-change="getPaths(interface)"></select>
                    </div>
                </div>

                <div class="control-group" ng-show="interface">
                    <label class="control-label" for="path">Path: </label>
                    <div class="controls">
                        <select id="path" ng-model="path" ng-options="p.name for p in paths" ng-change="getLevels(path)">
                            <option value="">new path...</option>
                        </select> 
                        <button class="btn" ng-click="createNewPath(interface)" ng-if="!path && !newPath">new path</button>
                    </div>
                </div>

                <div class="control-group" ng-show="path">
                    <label class="control-label" for="problemSet">Level: </label>
                    <div class="controls">
                        <select id="problemSet" ng-model="problemSet" ng-options="l.name for l in problemSets" ng-change="getProblems(problemSet)">
                            <option value="">new level...</option>
                        </select> 
                        <button class="btn" ng-click="createNewLevel(path)" ng-if="!problemSet && !newLevel">new level</button>
                    </div>
                </div>

                <div class="control-group" ng-show="problemSet">
                    <label class="control-label" for="problem">Problems: </label>
                    <div class="controls">
                        <select id="problem" ng-model="problem" ng-options="p.name for p in problems" ng-change="getProblemDetails(problem)">
                            <option value="">new problem...</option>
                        </select> 
                        <button class="btn" ng-click="createNewProblem(problemSet)" ng-if="!problem && !newProblem">new problem</button>
                        <span ng-if="problem">
                            position: {{problem.problemsetorder}} 
                            <button ng-class="{'btn': true, 'btn-mini': true, 'disabled': problem.problemsetorder <= 1}" ng-click="moveDown(problem)"><i class="icon-arrow-down"></i></button>
                            <button ng-class="{'btn': true, 'btn-mini': true, 'disabled': problem.problemsetorder >= problems.length}" ng-click="moveUp(problem)"><i class="icon-arrow-up"></i></button>
                        </span>
                    </div>
                </div>
                </fieldset>
            </form>
        </div>
        <div class="span6">
            <form name="newPathForm" class="form-horizontal" role="form" ng-if="newPath">
                <fieldset>
                <legend>New Path</legend>

                <div class="control-group">
                    <label for="path-name" class="control-label">Name: </label>
                    <div class="controls">
                        <input type="text" id="path-name" ng-model="newPath.name" required="true"/>
                    </div>
                </div>

                <div class="control-group">
                    <label for="path-desc" class="control-label">Description: </label>
                    <div class="controls">
                        <textarea id="path-desc" ng-model="newPath.description" class="input-block-level" rows="4" required="true"></textarea>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-primary" ng-disabled="!newPathForm.$valid" ng-click="saveNewPath(newPath)">Create</button> 
                        <button class="btn" ng-click="cancelNewPath()">Cancel</button> 
                    </div>
                </div>                

                </fieldset>
            </form>

            <form name="newLevelForm" class="form-horizontal" role="form" ng-if="newLevel">
                <fieldset>
                <legend>New Level</legend>

                <div class="control-group">
                    <label for="level-name" class="control-label">Name: </label>
                    <div class="controls">
                        <input type="text" id="level-name" ng-model="newLevel.name" required="true"/>
                    </div>
                </div>

                <div class="control-group">
                    <label for="level-desc" class="control-label">Description: </label>
                    <div class="controls">
                        <textarea id="level-desc" ng-model="newLevel.description" class="input-block-level" rows="4" required="true"></textarea>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-primary" ng-disabled="!newLevelForm.$valid" ng-click="saveNewLevel(newLevel)">Create</button> 
                        <button class="btn" ng-click="cancelNewLevel()">Cancel</button> 
                    </div>
                </div>                

                </fieldset>
            </form>

            <form name="newProblemForm" class="form-horizontal" role="form" ng-if="newProblem">
                <fieldset>
                <legend>New Problem</legend>

                <div class="control-group">
                    <label for="problem-name" class="control-label">Name: </label>
                    <div class="controls">
                        <input type="text" id="problem-name" ng-model="newProblem.name" required="true"/>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-primary" ng-disabled="!newProblemForm.$valid" ng-click="StartNewProblem(newProblem)">Create</button> 
                        <button class="btn" ng-click="cancelNewProblem()">Cancel</button> 
                    </div>
                </div>                

                </fieldset>
            </form>

        </div>
    </div>

    <form name="editProblem" class="form-horizontal" role="form">
        <div class="row" ng-show="problem">
            <div class="span6">
                <fieldset>
                <legend>Edit details</legend>

                <div class="control-group">
                    <label class="control-label" for="desc">Description: </label>
                    <div class="controls">
                        <textarea id="desc" rows="4" ng-model="problemDetails.description" class="input-block-level"></textarea>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="solution">Solution: </label>
                    <div class="controls">
                        <textarea id="solution" rows="4" ng-model="problemDetails.solution" class="input-block-level"></textarea>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="skeleton">Skeleton: </label>
                    <div class="controls">
                        <textarea id="skeleton" rows="4" ng-model="problemDetails.skeleton" class="input-block-level"></textarea>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="examples">Examples: </label>
                    <div class="controls">
                        <textarea id="examples" rows="4" ng-model="problemDetails.examples" class="input-block-level"></textarea>
                    </div>
                </div>

                </fieldset>  
            </div>

            <div class="span6">
                <fieldset>
                <legend>Tests</legend>

                <div class="control-group">
                    <label class="control-label" for="tests">Test: </label>
                    <div class="controls">
                        <textarea id="tests" rows="4" ng-model="problemDetails.tests" class="input-block-level"></textarea>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="privateTests">Private Tests: </label>
                    <div class="controls">
                        <textarea id="privateTests" rows="4" ng-model="problemDetails.privateTests" class="input-block-level"></textarea>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-large btn-primary" ng-click="runTests()">Run</button> 
                        <button ng-class="{'btn': true, 'btn-large': true, 'btn-success': testRun.solved}" ng-click="save()" ng-disabled="!testRun.solved">Save</button>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <h4>Test result:</h4>
                        <p ng-if="!testRun || !testRun.verification_message">
                            The tests have not run yet.
                        </p>
                        <p ng-if="testRun.solved" class="alert alert-success">
                            {{testRun.verification_message}}
                        </p>
                        <table class="table" ng-if="testRun.verification_message && !testRun.solved">
                            <tr>
                                <th>call</th>
                                <th>expected</th>
                                <th>received</th>
                                <th>status</th>
                            </tr>
                            <tr ng-repeat="test in testRun.results" ng-class="{'alert': true, 'alert-success': test.status, 'alert-error': !test.status}">
                                <td>{{test.call}}</td>
                                <td>{{test.expected}}</td>
                                <td>{{test.received}}</td>
                                <td>{{test.status}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </fieldset>
            </div>
        </div>
    </form>
</div>
