<style>
.bootCamp{
    color: #ffffff;
    font-size: 22px;
    border-bottom-color: #6b808d;
    border-radius: 6px 6px 6px 6px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.7);
    margin-top: 4px;
    margin-bottom: 20px;
    padding: 8px 8px;
    word-wrap: break-word;
}


</style>
</br>
</br>

  
<!-- Dynamically generate list of all events to view ranking -->
<!-- Concat event id to url -->
<!-- Render eventsTable page based on url parameter (event id) -->
<div class="row-fluid">
<div ng-controller="EventTableController" ng-init="fetch_event(); get_participants(); get_eventID(); get_eventIDs(); get_currentPlayerRanking(); get_currentUrl();" class="container">


<button class="btn btn-primary" ng-click="returnToPreviousPage()"><i class="icon-arrow-left icon-white"></i> Return to Last Visited Page</button>

<div style="float:right" class="fb-share-button" data-href="{{currentUrl}}" data-type="button"></div>
<br>
<div class="table-responsive">
  
  <br>
  <div class="alert alert-info">
    <div ng-hide="isEventIDs">
      <center><h2>{{current_event.name | limitTo:60}}</h2>

      <h4>
        {{current_event.description}}
        <br>
        <br>
        Total Participating: {{current_event.ranking.length}} (Cutoff: {{current_event.cutoff}})
      <br>
      What is at stake: (Lots of prizes and school pride!)</h4>
        
        <h3 ng-show="current_event.time_to_cutoff.days>=0">Time to cutoff: <span id="countdown"></span></h3>
        <br>
        <br>


        <div ng-hide="current_event.name.length > 0">
        Loading latest ranking.. This may take a few seconds..
        </div>
    </div>
        <div ng-show="isEventIDs">
          <h2><center>Aggregate event rankings are not yet supported</center></h2>
        </div>
       
    </center>

  </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <td class = "span1"><strong>Rank</td>
        <td class = "span3"><strong>Player Name</td>
        <td class = "span4"><strong>School</td>
      <!--  <td class = "span1"><strong>School Type</td> !-->
        <td class = "span2"><strong>Starting Year</td>
        <td class = "span4"><strong>{{eventsData.path}} Problems Solved</td>

        <td class = "span4"><strong>Highest Badge</td>
        <td class = "span4" ng-show="eventsData.rankinglocked"><strong>Rank at Cutoff</td>
        <td class = "span4" ng-show="eventsData.rankinglocked"><strong>Solved at Cutoff</td>
        <td class = "span1" ng-show="eventsData.rankinglocked"><strong>Invited</td>
          <td class = "span1" ng-show="eventsData.rankinglocked"><strong>Accepted ({{current_event.accepted}}/{{current_event.invited}})</td>
      </tr>
    </thead>
    <tbody>

<tr ng-repeat="participant in eventsData.ranking" ng-hide = "$index>=eventsData.cutoff">

        <td class = "span1">
            <span ng-if="participant.isCurrentPlayer"><b>{{$index+1}}</b></span>
            <span ng-if="!participant.isCurrentPlayer">{{$index+1}}</span>
        </span>
        </td>
        
        <td class = "span3 overspill"><span ng-if="participant.isCurrentPlayer"><b>{{participant.nickname | limitTo:20}}</b></span><span ng-if="!participant.isCurrentPlayer">{{participant.nickname | limitTo:20}} </span></td>

        <td class = "span6"><span ng-if="participant.isCurrentPlayer"><b>{{participant.schoolname}}</b></span><span ng-if="!participant.isCurrentPlayer">{{participant.schoolname}} </span></td>

      <!--  <td class = "span2"><span ng-if="participant.isCurrentPlayer"><b>{{participant.subtype}}</b></span><span ng-if="!participant.isCurrentPlayer">{{participant.subtype}} </span></td> !-->

        <td class = "span3"><span ng-if="participant.isCurrentPlayer"><b>{{participant.year}}</b></span><span ng-if="!participant.isCurrentPlayer">{{participant.year}}</span></td>

        <!-- the following hack will display negative solved problems as zero; only affects currentPlayer because the other players with negative solved problems i.e. not registered schools, are hidden -->
        <td class = "span4"><span ng-if="participant.isCurrentPlayer">
                <b>
                  <span ng-if="participant.solvedproblems<0"><a href="index.html#/schoolregistration">Register School ({{-participant.solvedproblems}})</a></span>
                <span ng-if="participant.solvedproblems>=0">{{participant.solvedproblems}}</span>
                </b>
            </span>
            <span ng-if="!participant.isCurrentPlayer">
              <span ng-if="participant.solvedproblems<0">No school</span>
                <span ng-if="participant.solvedproblems>=0">{{participant.solvedproblems}}</span>
          </span>

        </td>
        <td>
          <span ng-if="participant.highestbadgeurl"><img src="http://www.singpath.com{{participant.highestbadgeurl}}"></span>
        </td>

        <td class ="span4" ng-show="eventsData.rankinglocked">{{participant.rankatcutoff}}
         </td>
         <td class ="span4" ng-show="eventsData.rankinglocked">{{participant.solvedatcutoff}}
         </td>
         <td class ="span4" ng-show="eventsData.rankinglocked"><font ng-show="participant.sentrsvp">Yes</font><!--
          <span ng-if="player.player_id==eventsData.editor && participant.sentrsvp && participant.rsvp=='None'">
            <button class="btn btn-primary btn-warning" data-toggle="modal" ng-click = "uninvite(eventsData.id, participant.playerid)">
                <i class="icon-remove icon-white"></i> Un-invite
            </button>
          </span>
        -->
         </td>
         <td class ="span1" ng-show="eventsData.rankinglocked">
          <font ng-show="participant.rsvp!='None'">{{participant.rsvp}}</font>
          <button ng-show="participant.rsvp=='None' && participant.isCurrentPlayer" class="btn btn-primary btn-success" ng-click= "rsvpButton(eventsData.id,1)">Accept</button>
          <button ng-show="participant.rsvp=='None' && participant.isCurrentPlayer" class="btn btn-primary btn-danger" ng-click= "rsvpButton(eventsData.id,0)">Reject</button>
         </td>
    </span>
      </tr>
      </tbody>
    </table>

  <div class="table-responsive">
<table class="table">
    
	<!-- cut off detaisl !-->
<tbody>
  <tr bgcolor="black">
    <td colspan = 11>
      <span ng-if="isPlayerBelowCutoff&&hasRegisteredSchool"><font color = "white"><strong>INVITATION CUTOFF - It will take you approximately {{timeToQualify}} minutes to qualify for this event. Start solving more problems now!</b></font></span>
      <span ng-if="isPlayerBelowCutoff&&!hasRegisteredSchool"><font color = "white"><strong>INVITATION CUTOFF - Quick! Register your school now!</b></font></span>
      <span ng-show="!isPlayerBelowCutoff"><font color = "white"><b>INVITATION CUTOFF</b></font></span>
    </td>

  </tr>

</tbody>
</table>
</div>
<div ng-controller="EventTableController" ng-init="fetch_event(); get_participants(); get_eventID(); get_currentPlayerRanking(); get_currentUrl();" class="container">

<div class="table-responsive">
<font color = '#909090'  > 
<table border = '1'>

 <table class="table table-striped table-hover">
    <thead> 
      <tr >
        <td class = "span1"><strong>Rank</td>
        <td class = "span3"><strong>Player Name</td>
        <td class = "span4"><strong>School</td>
      <!--  <td class = "span1"><strong>School Type</td> !-->
        <td class = "span2"><strong>Starting Year</td>
        <td class = "span4"><strong>{{eventsData.path}} Problems Solved</td>

        <td class = "span4"><strong>Highest Badge</td>
        <td class = "span4" ng-show="eventsData.rankinglocked"><strong>Rank at Cutoff</td>
        <td class = "span4" ng-show="eventsData.rankinglocked"><strong>Solved at Cutoff</td>
        <td class = "span1" ng-show="eventsData.rankinglocked"><strong>  Invited  </td>
        <td class = "span1" ng-show="eventsData.rankinglocked"><strong>  Accepted  </td>
      </tr>
    </thead>
    <tbody>

        <tr ng-repeat="participant in eventsData.ranking" ng-hide = "$index<={{eventsData.cutoff-1}}||$index>=50&&!participant.isCurrentPlayer||$index==0">

        <td class = "span1">
            <span ng-if = "participant.isCurrentPlayer">You</span>
            <span ng-if="!participant.isCurrentPlayer">{{$index+1}}</span>
        </td>

        <td class = "span3"><span ng-if="participant.isCurrentPlayer"><b>&nbsp;{{participant.nickname | limitTo:20}}</b></span><span ng-if="!participant.isCurrentPlayer">{{participant.nickname | limitTo:20}}</span></td>

        <td class = "span6"><span ng-if="participant.isCurrentPlayer"><b>{{participant.schoolname}}</b></span><span ng-if="!participant.isCurrentPlayer">{{participant.schoolname}}</span></td>

     <!--   <td class = "span2"><span ng-if="participant.isCurrentPlayer"><b>{{participant.subtype}}</b></span><span ng-if="!participant.isCurrentPlayer">{{participant.subtype}}</span></td> !-->

        <td class = "span3"><span ng-if="participant.isCurrentPlayer"><b>{{participant.year}}</b></span><span ng-if="!participant.isCurrentPlayer">{{participant.year}}</span></td>

        <!-- the following hack will display negative solved problems as zero; only affects currentPlayer because the other players with negative solved problems i.e. not registered schools, are hidden -->
        <td class = "span4"><span ng-if="participant.isCurrentPlayer">
                <b>
                  <span ng-if="participant.solvedproblems<0"><a href="index.html#/schoolregistration">Register School ({{-participant.solvedproblems}})</a></span>
                <span ng-if="participant.solvedproblems>=0">{{participant.solvedproblems}}</span>
                </b>
            </span>
            <span ng-if="!participant.isCurrentPlayer">
              <span ng-if="participant.solvedproblems<0">No school</span>
                <span ng-if="participant.solvedproblems>=0">{{participant.solvedproblems}}</span>
          </span>
        </td>
        <td>
          <span ng-if="participant.highestbadgeurl"><img src="http://www.singpath.com{{participant.highestbadgeurl}}"></span>
		  <span ng-if="!participant.highestbadgeurl"> ---- </span>
        </td>

         <td class ="span4" ng-show="eventsData.rankinglocked">{{participant.rankatcutoff}} 
          </td>
          <td class ="span4" ng-show="eventsData.rankinglocked">{{participant.solvedatcutoff}}
          </td>
          <td class ="span1" ng-show="eventsData.rankinglocked"> <font ng-show="participant.sentrsvp">Yes</font> <font ng-show="!participant.sentrsvp"> -- </font>
		  
          </td>
          <td class ="span1" ng-show="eventsData.rankinglocked"><font ng-show="participant.rsvp!='None'">Yes  </font> <font ng-show="!participant.rsvp!='None'"> --  </font>
          </td>
          
    </span>
      </tr>
      </tbody>

  </table>
  
  </div>
</div>
  </div>
</div>
</div>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>