<style>
.bootCamp{
    color: #ffffff;
    font-size: 22px;
    border-bottom-color: #6b808d;
    border-radius: 6px 6px 6px 6px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.7);
    margin-top: 4px;
    margin-bottom: 20px;
    padding: 8px 8px;
}
</style>
</br>
</br>
<div ng-controller="EventController" ng-init="get_eventID(); fetch_event()" class="container">
  
  <div class="row-fluid">

         

          <div class="span12 well">
            <h1 class="well well-small bootCamp" align="center">- UPCOMING EVENTS -</h1>
          <div class="container"> 
            <div class="span11">
              <div ng-hide="event.name.length > 0">
                <h2><center>Loading events.. This may take a few seconds..</center></h2>
              </div>
          <ol>
            <div ng-repeat="event in events" ng-hide="event.archived">
              <h4>{{event.name}}</h4><br>

              {{event.description}}<br>

              Participating: {{event.participating}}<br>
              My Status: <strong>&nbsp;&nbsp;&nbsp;&nbsp;{{event.currentPlayerStatus}}<br>
              <font ng-if="event.rankinglocked">Event is locked - Please join other events!</font></strong>
              <br><br>
              <button ng-disabled="event.rankinglocked" class="btn btn-primary" data-toggle="modal" data-target="#participateModal" ng-click="register_for_event(event.id, 'participate')"><i class="icon-check icon-white"></i> I'd like to participate</button>
              <button class="btn btn-primary" data-toggle="modal" data-target="#watchModal"ng-click="register_for_event(event.id, 'watch')"><i class="icon-eye-open icon-white"></i> I'd like to come watch</button>
              <button class="btn btn-primary" data-toggle="modal" data-target="#postModal"ng-click="register_for_event(event.id, 'follow')"><i class="icon-bell icon-white"></i> Keep me posted</button>
              <button class="btn btn-primary" ng-click="go_to_eventsRanking(event.id)"><i class="icon-list icon-white"></i> I'd like to view the rankings</button>
              <br><br>
            </div>
            <br>
          </ol>
          </div>
          </div>

  </div>

<div ng-repeat="event in events">
<div class="modal fade" id="participateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <!--
        <h4 class="modal-title" id="myModalLabel">Thanks for participating in {{event.name}}!</h4>
      -->
      <h4 class="modal-title" id="myModalLabel">Thanks for participating!</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">You are welcome!</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="watchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <!--
        <h4 class="modal-title" id="myModalLabel">Thanks for coming to watch {{event.name}}!</h4>
        -->
        <h4 class="modal-title" id="myModalLabel">Thanks for coming to watch!</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">You are welcome!</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <!--
        <h4 class="modal-title" id="myModalLabel">Thanks for your interest in {{event.name}}!</h4>
        -->
        <h4 class="modal-title" id="myModalLabel">Thanks for your interest!</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">You are welcome!</button>
      </div>
    </div>
  </div>
</div>
</div>