<style>
	.modal-body{position: relative;
	    overflow-y: auto;
	    max-height: 16000px;
	    padding: 15px;
	}

    .modal-large {
	    width: 50%; /* responsive width */
	    margin-left:-25%;/*  width/2) */ 
	}
</style>
</br>
<div ng-controller="EventController" ng-init="loading()" class="container" id="eventCreate"style="position:relative;" >
	<button class="btn btn-primary" ng-click="returnToPreviousPage()"><i class="icon-arrow-left icon-white"></i> Return to Last Visited Page</button>
	<br>
	<br>
	<div class="row-fluid">
		<div class="span12 well well-small" >
			<div class="span12 bootCamp" id="heading">
				<h2>Create Event</h2>
			</div>
			<br>			
			</br>		
	<div class="row-fluid">
		<br>
		<div class="alert alert-info">
			<h4>Welcome to Create Event!</h4>
			To begin, enter your Event details below - required details are highlighted with a (*). Once you are ready, hit submit to create your event!
		</div>
	</div>
		<h4>Event Details</h4>
		<div class="row-fluid">
		<div class="span12 well well-small">
			<div class="row-fluid">
				<div class="span12">
					<div class="span2">
						Event Title*:
					</div>
					<div class="span9">
						 <input class="span8" type="text" required ng-model="eventTitle" placeholder="Enter event title here" ></input>
						 <span class="alert-error" ng-show="eventTitle==''">Required!
						 </span>
					</div>
				</div>	
			</div>

			<!--Description input field-->
			<div class="row-fluid">
				<div class="span12">
					<div class="span2">
						Event Description:
					</div>
					<div class="span9">
						 <textarea class="span8" rows="3" ng-model="eventDescription" placeholder = "Please enter a description for your event" >
						</textarea>
					</div>
				</div>	
			</div>

			<!--Venue input field-->
			<div class="row-fluid">
				<div class="span12">
					<div class="span2">
						Event Venue*:
					</div>
					<div class="span9">
						 <input class="span8" type="text" required ng-model="eventVenue" placeholder="Enter event venue here" ></input>
						 <span class="alert-error" ng-show="eventVenue==''">Required!
						 </span>
					</div>
				</div>	
			</div>

			<!--Cutoff number input field-->
			<div class="row-fluid">
				<div class="span12">
					<div class="span2">
						Cutoff*:
					</div>
					<div class="span7">
						 <input class="span6" type="number" required ng-model="cutoff" placeholder="Enter event cutoff number here" ></input>
						 <span class="alert-error" ng-show="cutoff==''">Required!
						 </span>
					</div>
				</div>	
			</div>
			
			<!--Event Programming Language selection-->
			<div class="row-fluid">
				<div class="span12">
					<div class="span2">
						Programming Language:
					</div>
					<div class="span9">
						 <div class="span8">
						  <label>
						    <input type="radio" ng-model="eventProgLang" id="optionsRadios1" value="Java">
						    Java
						  </label>
						  <label>
						    <input type="radio" ng-model="eventProgLang" id="optionsRadios2" value="Python">
						    Python
						  </label>
						  <label>
						    <input type="radio" ng-model="eventProgLang" id="optionsRadios3" value="Javascript">
						    Javascript
						  </label>
						  <label>
						    <input type="radio" ng-model="eventProgLang" id="optionsRadios4" value="Ruby">
						    Ruby
						  </label>
						</div>
					</div>
				</div>	
			</div>

			<div class="row-fluid">
				<div class="span12">
					<center>
						<button class="btn btn-primary" type="button" ng-click="create_new_event(eventTitle,eventDescription,eventVenue,cutoff,eventProgLang)" ><i class="icon-check icon-white"></i> Create</button> 
					</center>
				</div>	
			</div>

			</div>
		</div>
		</div>	
		</br>
		</br>
	</div>