


  <link rel="stylesheet" type="text/css" href="engine1/style.css" />

  <!-- End WOWSlider.com HEAD section -->

<div><h2><center>Welcome to Singpath!</center></h2></div>


<body style="background-color:#d7d7d7">
  <!-- Start WOWSlider.com BODY section -->
  <div id="wowslider-container1">
  <div class="ws_images"><ul>
<li><a href="/app/index.html#/events"><img src="data1/images/slide4.jpg" alt="Upcoming Events!" title="Upcoming Events!" id="wows1_0"/></a>Interested to join? Or want to come watch? RSVP here!</li>
<li><a href="/app/index.html#/quests"><img src="data1/images/slide1.jpg" alt="Gotta Try A Quest!" title="Gotta Try A Quest!" id="wows1_1"/></a>Challenge yourself today!</li>
<li><a href="/app/index.html#/ymbcoaching"><img src="data1/images/slide2.jpg" alt="Mastery Coaching" title="Mastery Coaching" id="wows1_2"/></a>Improve yourself today!</li>
<li><a href="/app/index.html#/purposedriven"><img src="data1/images/slide3.jpg" alt="Purpose Driven" title="Purpose Driven" id="wows1_3"/></a>Get motivated!</li>
</ul></div>

<div class="ws_bullets"><div>
<a href="#" title="Upcoming Events!"><img src="data1/tooltips/slide4.jpg" alt="Upcoming Events!"/>1</a>
<a href="#" title="Gotta Try A Quest!"><img src="data1/tooltips/slide1.jpg" alt="Gotta Try A Quest!"/>2</a>
<a href="#" title="Mastery Coaching"><img src="data1/tooltips/slide2.jpg" alt="Mastery Coaching"/>3</a>
<a href="#" title="Purpose Driven"><img src="data1/tooltips/slide3.jpg" alt="Purpose Driven"/>4</a>
</div></div>

<span class="wsl"><a href="http://wowslider.com">Picture Slideshow</a> by WOWSlider.com v4.8</span>
  <div class="ws_shadow"></div>
  </div>

  <script type="text/javascript" src="engine1/wowslider.js"></script>
  <script type="text/javascript" src="engine1/script.js"></script>
  <!-- End WOWSlider.com BODY section -->
                                    
                  <div><h3><center>What is Singpath?</center></h3></div>
                   <p style="font-family:Sans-Serif">
                    <h6><center>
                      SingPath is the most FUN way to practice software languages! SingPath provides a platform to those that want to test their programming skills in a competitive and fun environment. There is a range of programming languages that you can test your skills with including Python, JavaScript, Ruby, Objective C and Java with many other languages to come. Specialize in one language or show your flexibility and skill by coding in multiple languages.What are you waiting for? Sign in today and follow your chosen Path!                                     
                    </center></h6>
                  </p>                                                                        
                                     
