</br>
<div class="container" id="manageTournament" style="position:relative;" ng-controller="GenshyftTournamentController" ng-init="get_mytournaments()">
	<center><h2>My Tournaments</h2></center>
	</br>
	<div class="row-fluid">
		<div class="span12">
			<button class="btn btn-primary" type="button" onClick="parent.location='#/mytournaments-create'"><i class="icon-plus icon-white"></i> Create Tournament</button></br></br>
			<b>Tournaments by you:</b>
		</div>
	</div>
	<div ng-show="grpTournaments.length==0">
		<center><b> You have not created any tournaments. Click on the button above to create one! </b></center>
	</div>

	<div ng-show="grpTournaments.length!=0">
		<div class="row-fluid">	
			<div class="span12 well well-small" >
				<table ng-grid id="grpTournTable" class="table table-bordered" width="100%">
	                <tr class="tournTableHeaders">
	                	<th class="tournTableHeader"><b>Tournament Title</b></th>
	                	<th class="tournTableHeader"><b>Date Created</b></th>
	                	<th class="tournTableHeader"><b>Status</b></th>
	                	<th class="tournTableHeader"></th>
	 				</tr>
	                <tr class="warning" ng-repeat="grpTournament in grpTournaments track by $index">
	                    <td class="tournInfo">{{grpTournaments[$index].title}}</td>
	                    <td class="tournInfo">{{grpTournaments[$index].dateCreated}}</td>
	                    <td class="tournInfo">{{grpTournaments[$index].status}}</td>
	                    <td>
	                    	<button class="btn btn-primary" type="button" ng-click="manage_my_tournament(grpTournaments[$index].tournamentId)"><i class="icon-edit icon-white"></i> Manage</button>
	                    </td>
	                    <td>
	                    	<button class="btn btn-danger" type="button" ng-click="delete_my_tournament(grpTournaments[$index].tournamentId)"><i class="icon-edit icon-white"></i> Delete</button>
	                    </td>
	                </tr>
            	</table>
				
				
			</div>
		</div>
	</div>
</div>