<p></p>
<style>
	.modal-body{position: relative;
	    overflow-y: auto;
	    max-height: 16000px;
	    padding: 15px;
	}

    .modal-large {
	    width: 50%; /* responsive width */
	    margin-left:-25%;/*  width/2) */ 
	}

	/* Theme for box heading */
	.bootCamp {
		color: #ffffff;
		font-size: 16px;
		border-bottom-color: #6b808d;
		border-radius: 6px 6px 6px 6px;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
		margin-top: 4px;
		margin-bottom: 8px;
		padding: 8px 8px;
	}

	.bootCampSmall {
		color: #ffffff;
		font-size: 12px;
		border-bottom-color: #6b808d;
		border-radius: 6px 6px 6px 6px;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
		margin-top: 4px;
		margin-bottom: 8px;
		padding: 5px 5px;
	}
</style>
<div ng-controller="GenshyftTournamentController" class="container" id="tourncreate"style="position:relative;" >
	<div class="row-fluid">
		<div class="container">
			<h4 class="well well-small bootCamp" align="center" id="well-c">Create Tournaments - Add Rounds</h4>
		</div>		
	</div>
	<div class="row-fluid">
		<div class="span12">
			<ul class="nav nav-tabs">
 			 	<li class="tabspacing-create active">
				 <li class="tabspacing-create active"><a data-target='#AddRounds' data-toggle="tab" id="groups"><b>Step 2 - Add Round Details</b></a></li>
				 <li class="tabspacing-create"><a data-target='#ChooseQns' data-toggle="tab" id="groups"><b>Step 3 - Choose Questions and Save Round</b></a></li>
			</ul>
		</div>
	</div>
	<div class="tab-content">
	<!--Add Rounds Tab-->
	<div class="tab-pane active" id="AddRounds">
		<div class="row-fluid">
			<div class="span12">
				<font color="#08088A" size="2"><b>Adding Tournament Rounds</b></br>
				Tournaments in SingPath must contain at least 1 round, up to a maximum of 5, each with a specified duration and it's own unique set of questions. For example, your Tournament can consist of a Qualifying Round, a Semi-Final Round, and a Final Round.</br>
				Enter your Round details below - the required details are, again, highlighted with a (*). When you're done, click on the Step 3 tab above or the Choose Question Button below to start selecting your Round Problems!</font>
			</div>	
		</div>
		<h4>Round Details</h4>
		<div class="row-fluid">
			<div class="span12 well well-small">
				<!--Round Name input field-->
				<div class="row-fluid">
					<div class="span12">
						<div class="span2">
							<b>Round Title</b>*:
						</div>
						<div class="span4">
							<input class="span9" type="text" required ng-model="grpTourRoundName" placeholder="Enter round name here" ></input>
							<span class="alert-error" ng-show="grpTourRoundName==''">Required!
						 	</span>
						</div>
				<!--Round Description input field
						<div class="span1">
							Description:
						</div>
						<div class="span5">
							 <textarea class="span12" rows="2" ng-model="grpTourRoundDesc" placeholder="Enter round description here">
							</textarea>
						</div>
				-->
					</div>	
				</div>
				<div class="row-fluid">
					<div class="span12">
						<!--Round Duration input field-->
						<div class="span2">
							<b>Duration(minutes)</b>*:
						</div>
						<div class="span4">
							<select class="span3" ng-model="grpTourRoundMins" ng-options="numgrp for numgrp in [10,15,20,25,30,35,40,45,50,55,60]"></select>
							<span class="alert-error" ng-show="grpTourRoundMins==''">Required!
							</span>
						</div>
					</div>	
				</div>
				<center><button class="btn btn-primary" type="button" data-target='#ChooseQns' data-toggle="tab" id="groups"><i class="icon-plus icon-white"></i> Choose Questions</button></center>
			</div>
		</div>
		<center><div class="tournamentRoundheader" ><b>{{grpTourTitle}} Tournament Rounds</b></div></center>
		<table ng-grid id="grpTournRoundsTable" class="table table-bordered" width="100%">
            <tr class="roundTableHeaders">
            	<th class="roundTableHeader"><b>Round Title</b></th>
            	<th class="roundTableHeader"><b>Round Duration</b></th>
            	<th class="roundTableHeader"><b>Number of Questions in round</b></th>
			</tr>
            <tr ng-repeat="newTournamentRound in newTournamentRounds" class="active">
                <td class="roundInfo">{{newTournamentRound.description}}</td>
                <td class="roundInfo">{{newTournamentRound.timelimit}}</td>
                <td class="roundInfo">{{newTournamentRound.problemIDs.length}}</td>
            </tr>
            <tr class="warning">
                <td class="roundInfo">{{grpTourRoundName}}</td>
                <td class="roundInfo">{{grpTourRoundMins}}</td>
                <td class="roundInfo">{{cartQuestions.length}}</td>
            </tr>
        </table>
	<!--Finalize Tournament-->
		<div class="row-fluid">
			<div class="span12">	
				<center>
					<button class="btn btn-success btn-lg" id="create" type="button" ng-click="completeCreateTournament()"><i class="icon-ok icon-white"></i> Complete create tournament</button>
				</center>
			</div>	
		</div>
	</div><!--end of add rounds tab-->


	<!-- Choose Questions tab -->
	<div class="tab-pane" id="ChooseQns">
		<div class="row-fluid">
			<div class="span12">
				<font color="#08088A" size="2"><b>Choose your Round Questions!</b></br>
				Now comes the FUN part! To choose your questions: Browse our question bank and compile your very own custom-made set of questions. You can click on each question to view more details.</br>
				When you are done, you can save the round by clicking on "Save Round". You will then be brought back to Step 2 where you can choose to add another round, or finalize your tournament by clicking "Finalize Tournament".</font>
			</div>	
		</div>
		<h4>Choose Round Questions</h4>
		<!--Choosing a Game Path-->
		<div class="row-fluid">
			<div class="span4 well well-small">
				<div class="row-fluid">
					<div class="span12">
						<div class="span5">
							Select a Game Path:
						</div>
						<div class="span7">	
							<select class="span12" ng-model="selectedPath" ng-init="populatePaths()" ng-change="loadLevelList()">
								<option value="" selected>Choose Game Path...</option>
								<option ng-repeat="gamePath in gamePaths" value="{{gamePath.id}}">{{gamePath.name}}</option>
							</select>
						</div>
					</div>
				</div>			
				<!--Choosing a Level-->
				<div class="row-fluid">
					<div class="span12">
						<div class="span5">
							Select a Level:
						</div>
						<div class="span7">	
							<select class="span12" ng-model="pathLevel" multiple-"multiple" size="10">
								<option ng-repeat="gameLevel in gameLevels" value="{{gameLevel.id}}" ng-click="loadQueriedQuestionTable()">{{gameLevel.description}}</option>
							</select>
						</div>
					</div>
				</div>	
				<div class="row-fluid">
					<div class="span12">	
						<center>
							<button class="btn btn-primary" id="create" type="button" ng-click="loadQueriedQuestionTable()"><i class="icon-search icon-white"></i> Search Questions</button>
						</center>
					</div>	
				</div>
			</div>	          	
	       	<div class="span8 well well-small">
	       		<div class="row-fluid">
	           		<div class="span12">
			            <div class="span5"><b>Round Title: </b>{{grpTourRoundName}}</div>
			            <div class="span4" id="questionDuration"><b>Duration: </b>{{grpTourRoundMins}} mins</div>
			            <div class="span3" id="questionCount"><b>No. of Questions: </b>{{cartQuestions.length}}</div>
	        		</div>
	    		</div>
				<div class="row-fluid">
					<div class="span12">	
	    				<div class="span6">
	    					<div class="pull-left"><button class="btn btn-info" id="create" type="button" ng-click="viewQuestionsInCart()"><i class="icon-eye-open icon-white"></i> Edit Added Questions</button></div>
						</div>
	    				<div class="span6">
	    					<div class="pull-right"><button class="btn btn-success" id="create" type="button" ng-click="save_round()"><i class="icon-ok icon-white"></i> Save Round</button></div>
	    				</div>
					</div>
				</div>
				</br>
		        <table ng-grid id="questionTable" class="table table-bordered" width="100%">
		        	<tr class"questionTableTitle">
		        		<th class"questionTitle">Question Title</th>
		        		<th class"questionTitle"> </th>
		        	</tr>
		            <tr ng-repeat="bankQuestion in bankQuestions" class="questionTableRows">
		                <td title="Question Title" class="questionTitleRow"><button type="button" class="btn btn-link" ng-click="viewQuestionInfo(bankQuestion)">{{bankQuestion.name}}</button></td>
		                <td class="questionTableCells">
		                	<button name="addQuestions" ng-click="addToCart(bankQuestion);isDisabled=true" class="btn btn-primary" ng-disabled="isDisabled" ng-hide="isDisabled==true"><i class="icon-plus icon-white"></i> Add</button>
		                </td>
		            </tr>
		    	</table>
		    	<div class="row-fluid">
					<div class="span12">	
	    				<div class="span6">
	    					<div class="pull-left"><button class="btn btn-info" id="create" type="button" ng-click="viewQuestionsInCart()"><i class="icon-eye-open icon-white"></i> Edit Added Questions</button></div>
						</div>
	    				<div class="span6">
	    					<div class="pull-right"><button class="btn btn-success" id="create" type="button" ng-click="save_round()"><i class="icon-ok icon-white"></i> Save Round</button></div>
	    				</div>
					</div>
				</div>
	    	</div>
	    </div>	
	</div>	
	<!-- Tournament Creation Success Modal -->
	<div class="modal fade modal-large" id="grpTournamentCreated" style="display:none">         
	    <div class="modal-body" style="color:black">
	        <center><h2>Tournament Created Successfully!</h2></center>
	        Please proceed to add rounds!
	    </div>
	    <div class="modal-footer">
	        <button name="gotit" class="btn btn-success" ng-click="hideSuccessTournamentModal()"><i class="icon-ok icon-white"></i> Ok</button>
	    </div>
	</div>

	<div class="modal fade" id="roundSaved" style="display:none">
		<div class="modal-body" style="color:black">
	        <center><h2>Round Saved!</h2></center>
	    </div>
	    <div class="modal-footer">
	        <center><a href="#" data-dismiss="modal"><button name="gotit" class="btn btn-success" ng-click="hideSuccessRoundSaved()" data-target='#AddRounds' data-toggle="tab"><i class="icon-ok icon-white"></i> Ok</button></a></center>
	    </div>
	</div>

	<div class="modal fade" id="roundLimit" style="display:none">
		<div class="modal-body" style="color:black">
	        <center><h2>The maximum number of rounds per tournament is 5!</h2></center>
	    </div>
	    <div class="modal-footer">
	        <center><button name="gotit" class="btn btn-success" ng-click="completeCreateTournament()"><i class="icon-ok icon-white"></i> Complete Create Tournament</button></a></center>
	    </div>
	</div>

	<div class="modal fade" id="questionInfo" style="display:none">
		<div class="modal-header">
			<center><h3 class="modal-title">Question Information</h3></center>
		</div>
		<div class="modal-body" style="color:black">
	        <div class="row-fluid">
				<div class="span10">
					<b>Question Title:</b>
					</br>
					{{questionName}}
				</div>	
			</div>
			</br>
			<div class="row-fluid">
				<div class="span10">
					<b>Description:</b>
					</br>
					{{questionDescription}}
				</div>	
			</div>
			</br>
			<div class="row-fluid">
				<div class="span10">
					<b>Example:</b>
					</br>
					{{questionExamples}}
				</div>	
			</div>
			</br>
			<div class="row-fluid">
				<div class="span10">
					<b>Starting Code:</b>
					</br>
					{{skeleton}}
				</div>	
			</div>
			</br>
	    </div>
	    <div class="modal-footer">
	        <a href="#" data-dismiss="modal"><button name="gotit" class="btn btn-primary" ng-click="hideQuestionInfo()"><i class="icon-ok icon-white"></i> Ok</button></a>
	    </div>
	</div>

	<div class="modal fade" id="questionsInCart" style="display:none">
		<div class="modal-header">
			<center><h3 class="modal-title">Current Round Questions</h3></center>
		</div>
		<div class="modal-body" style="color:black">
			<div ng-show="cartQuestions.length==0">
				<center><b> You have not added any questions! </b></center>
			</div>
			<div ng-show="cartQuestions.length!=0">
		        <table ng-grid id="questionCartTable" class="table table-bordered" width="100%">
	            	<tr class"questionTableTitle">
	            		<th class"questionTitle">Question Title</th>
	            		<th class"questionTitle">Actions</th>
	            	</tr>
	                <tr ng-repeat="question in cartQuestions track by $index" class="questionTableRows">
	                    <td title="Question Title" class="questionTitleRow"><button type="button" class="btn btn-link" ng-click="viewQuestionsInfoInCart(question)">{{question.name}}</button></td>
	                    <td class="questionTableCells">
	                    	<div ng-hide="$index==0">
	                    		<button name="moveUp" ng-click="moveQuestionUp($index)" class="btn btn-warning"><i class="icon-arrow-up icon-white"></i> Move Up</button>
	                    	</div>
	                    </td>
	                    <td class="questionTableCells">
	                    	<div ng-hide="$index==cartQuestions.length-1">
	                    		<button name="moveDown" ng-click="moveQuestionDown($index)" class="btn btn-warning"><i class="icon-arrow-down icon-white"></i> Move Down</button>
	                   		</div>
	                    </td>
	                    <td class="questionTableCells">
	                    	<button name="deleteQuestions" ng-click="deleteFromCart($index)" class="btn btn-danger"><i class="icon-remove icon-white"></i> Remove</button>
	                    </td>
	                </tr>
	        	</table>
	        </div>	
	    </div>
	    <div class="modal-footer">
	        <a href="#" data-dismiss="modal"><button name="gotit" class="btn btn-primary" ng-click="hideQuestionsInCart()"><i class="icon-ok icon-white"></i> Done</button></a>
	    </div>
	</div>

	<div class="modal fade" id="questionInfoInCart" style="display:none">
		<div class="modal-header">
			<center><h3 class="modal-title">Question Information</h3></center>
		</div>
		<div class="modal-body" style="color:black">
	        <div class="row-fluid">
				<div class="span10">
					<b>Question Title:</b>
					</br>
					{{questionName}}
				</div>	
			</div>
			</br>
			<div class="row-fluid">
				<div class="span10">
					<b>Description:</b>
					</br>
					{{questionDescription}}
				</div>	
			</div>
			</br>
			<div class="row-fluid">
				<div class="span10">
					<b>Example:</b>
					</br>
					{{questionExamples}}
				</div>	
			</div>
			</br>
			<div class="row-fluid">
				<div class="span10">
					<b>Starting Code:</b>
					</br>
					{{skeleton}}
				</div>	
			</div>
			</br>
	    </div>
	    <div class="modal-footer">
	        <a href="#" data-dismiss="modal"><button name="gotit" class="btn btn-primary" ng-click="hideQuestionsInfoInCart()"><i class="icon-ok icon-white"></i> Ok</button></a>
	    </div>
	</div>
</div>