<style>
   
    .table td, .table th {
        border: none;
    }
    .table tbody tr:hover td,
    .table tbody tr:hover th {
        background-color: #DCD9CD;
    }
    
    .tabspacing{
        width:25%;
	}

    
    .tab-content {
      clear: none;
      margin-bottom:0px;
    }

    li.bulletless {
    	list-style-type: none;
    }

    tbody{
        overflow:auto;  
    }

    .bttn:hover{
    	color: #ffffff;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	  background-color: #de1206;
	  background-image: -moz-linear-gradient(top, #f21406, #c01005);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f21406), to(#c01005));
	  background-image: -webkit-linear-gradient(top, #f21406, #c01005);
	  background-image: -o-linear-gradient(top, #f21406, #c01005);
	  background-image: linear-gradient(to bottom, #f21406, #c01005);
	  background-repeat: repeat-x;
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff21406', endColorstr='#ffc01005', GradientType=0);
	  border-color: #c01005 #c01005 #760a03;
	  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	  *background-color: #c01005;
	  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

	  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    }


    .ft:hover:after{
    	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  		font-size: 18px;
  		color: #ffffff;
		text-shadow: 0 1px 0 #ffffff;
		text-decoration: none;
		text-align: center;
		font-weight: bold;
    	content:"×";
    }


    .bttn:hover span{
    	display:none;
    }

    .bttn:hover:before{
    	text-align: center;
    	content: "Remove  ";
    }

	<!--All Rankings : Rankings-->
	th.Group_Member, td.Group_Member{
		width:10%;
	}
	
</style>
</br>
<div class="container" id="manageTournInidv" style="position:relative" ng-controller="GenshyftTournamentController" ng-init="tournamentInit();">
	<div class="row-fluid">
		<div class="span12 bootCamp" id="heading">
			Tournament Details
		</div>
		<div class="row-fluid">
			<div class="span12 well well-small">
				<div class="span12">
					<div class="span8">
						</br>
						<b>Title :</b> {{tournament.shortTitle}} </br>
						<b>Type :</b> {{tournament.tournType}} </br>
						<b>Max no. of players per group :</b> {{tournament.maxNoPlayerPerGrp}}</br>
						<b>No. of Registered Players :</b> {{tournament.registeredPlayers.length}}
						</br>
						</br>
					</div>
					<div class="span3">
						</br><b>Status :</b> {{tournament.status}}
							</br>
							</br>
							</br>

					</div>
				</div>
				<div class="span12">
					<center>
						<button class="btn btn-primary" type="button">Edit</button>
						<button class="btn btn-danger" type="button">Delete </button>
					</center>
					</br>
				</div>		
			</div>
		</div>
	</div>
	</br>

	<div class="row-fluid">
		<div class="span12">
			<ul class="nav nav-tabs">
 			 	<li class="tabspacing-create active"><a data-target='#Rounds' data-toggle="tab">Rounds</a></li>
				 <li class="tabspacing-create"><a data-target='#Groups' data-toggle="tab" id="groups">Players</a></li>
			</ul>
		</div>
	</div>

	<div class="tab-content">
		<div class="tab-pane active" id="Rounds">
			<div class="row-fluid">
			<div class="span10 well well-small">
				<button type="button" class="close" aria-hidden="true">×</button>
				<div class="span2"><b>Round 1</b>
				</div>
			</div>
		</div>
		</div>

  		<div class="tab-pane" id="Groups">
  			<div class="row-fluid">
	  			<div class="span4" id="unregisteredUsers" style="overflow:auto;" width="100%">
					<div class="row-fluid">
						<div class="span12 bootCamp" id="heading"> 
							<div ng-hide="tournament.tournType=='Individual'">
								Registered Users Without Groups
							</div>
							<div ng-hide="tournament.tournType=='Group'">
								Registered Users
							</div>		
						</div>
					</div>	


					<div class="row-fluid">
						<div class="span12 well well-small" style="overflow:auto;">
							<li class="bulletless" ng-repeat="unregisteredPlayer in registeredPlayersArray track by $index">
								<button class="btn bttn ft"><span><b>{{registeredPlayersArray[$index]}}</b></span></button>
							</li>	
						</div>
					</div>
				</div> 	

	  			<div class="span8" id="registeredUserWithTeam" style="overflow:auto;" width="100%">
					<div class="row-fluid">
						<div class="span12 bootCamp" id="heading">Registered Groups</div>
					</div>
					<div class="row-fluid" ng-init="get_registeredPlayers()" >
						<div class="row-fluid" >
							<div class="span12 well well-small" >
								<div >
									<table class="table table-hover">
										<tr >
											<td ng-repeat="group in numGrp track by $index">										
												<b>Group {{$index+1}}</b>
												
												<li class="bulletless" ng-repeat="player in group track by $index">
													<button class="btn bttn ft" ng-if="$index != 0"><span><b>{{player}}</b></span>
													</button>
												</li>
											
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>				  
					</div>
				</div>	
			</div>	
		</div>

	</div>

	<div class="row-fluid">
		<div class="span12">
			</br>
			<div class="span4">
				</br>
				<button class="btn btn-primary" type="button" ng-model="start">Start</button>
				<button class="btn btn-danger" type="button" ng-model="activation">Deactivate</button> 
				</br>
				</br>
				<button class="btn btn-primary" type="button" onClick="parent.location='#/tournament-ranking'">Go to Ranking >>></button>
			</div>
			<div class="span7">
				<b>Start in</b></br>
				<div  id="categories" class="btn-group" data-toggle="buttons-radio" align="center">				<button type="button" class="btn btn-primary">1 min</button>
  					<button type="button" class="btn btn-primary">2 min</button>
  					<button type="button" class="btn btn-primary">5 min</button>
  					<button type="button" class="btn btn-primary">30 min</button>
  					<button type="button" class="btn btn-primary">60 min</button>			
				</div>
			</div>	
		</div>
	</div>

</div>
	