<p></p>
<style>
   	.modal-large {
	    width: 60%; /* responsive width */
	    margin-left:-30%;/*  width/2) */	
	}

	.modal-xlarge {
	    width: 60%; /* responsive width */
	    margin-left:-30%;/*  width/2) */ 
	}

    .table tbody tr:hover td,
    .table tbody tr:hover th {
        background-color: #eeeeee;
    }
    
    .tabspacing{
        width:25%;
	}

    
    .tab-content {
      clear: none;
      margin-bottom:0px;
    }

    li.bulletless {
    	list-style-type: none;
    }

    tbody{
        overflow:auto;  
    }

    table.playerTable{
    	table-layout:fixed;
		width:100%;
    }

    .playerTable tr td{
    	border: none;
        width: 110px;
    }

    .bttn:hover{
    	color: #ffffff;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	  background-color: #de1206;
	  background-image: -moz-linear-gradient(top, #f21406, #c01005);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f21406), to(#c01005));
	  background-image: -webkit-linear-gradient(top, #f21406, #c01005);
	  background-image: -o-linear-gradient(top, #f21406, #c01005);
	  background-image: linear-gradient(to bottom, #f21406, #c01005);
	  background-repeat: repeat-x;
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff21406', endColorstr='#ffc01005', GradientType=0);
	  border-color: #c01005 #c01005 #760a03;
	  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	  *background-color: #c01005;
	  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

	  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    }


    .ft:hover:after{
    	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  		font-size: 18px;
  		color: #ffffff;
		text-shadow: 0 1px 0 #ffffff;
		text-decoration: none;
		text-align: center;
		font-weight: bold;
    	content:"×";
    }


    .bttn:hover span{
    	display:none;
    }

    .bttn:hover:before{
    	text-align: center;
    	content: "Remove  ";
    }

	<!--All Rankings : Rankings-->
	th.Group_Member, td.Group_Member{
		width:10%;
	}
	
	/* Theme for box heading */
	.bootCamp {
		color: #ffffff;
		font-size: 18px;
		border-bottom-color: #6b808d;
		border-radius: 6px 6px 6px 6px;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
		margin-top: 4px;
		margin-bottom: 8px;
		padding: 8px 8px;
	}

	.bootCampSmall {
		color: #ffffff;
		font-size: 16px;
		border-bottom-color: #6b808d;
		border-radius: 6px 6px 6px 6px;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
		margin-top: 4px;
		margin-bottom: 8px;
		padding: 5px 5px;
	}

	button.overspill{
    	overflow: hidden;
		text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;
    }
</style>
<div class="container" id="manageTournInidv" style="position:relative" ng-controller="GenshyftTournamentController" ng-init="manageSelectedTournament();tournamentInit()">
	<div class="row-fluid">
		<div class="container">
			<h4 class="well well-small bootCamp" align="center" id="well-c">Tournament Centre</h4>
		</div>		
	</div>
	<!--
	<div class="row-fluid">
		<div class="pull-left"><button class="btn btn-primary" type="button" onClick="parent.location='#/mytournaments'"><i class="icon-home icon-white"></i> Back To My Tournaments </button></div>
	</div>
	-->
	<div class="row-fluid">
		<div class="span6 bootCampSmall" id="heading">
			Tournament Details
		</div>
		<div class="span6 bootCampSmall" id="heading">
			Tournament Progress
		</div>
		<div class="row-fluid">
			<div class="span6 well well-small" style="height:300px;overflow:auto;">
				<div class="row-fluid">
					<div class="span12">
						<div class="span6">
							<b>Set Tournament Status:</b>
						</div>
						<div class="span6">
							<button type="button" class="btn btn-primary" ng-click="activateTournament(selectedTournament.tournamentID)"><i class="icon-star icon-white"></i> Open</button>
							<button type="button" class="btn btn-info" ng-click="closeTournament(selectedTournament.tournamentID)"><i class="icon-lock icon-white"></i> Close</button>
							<button type="button" class="btn btn-inverse" ng-click="hideTournament(selectedTournament.tournamentID)"><i class="icon-eye-close icon-white"></i> Hide</button>
						</div>	
					</div>	
				</div>	
				<div class="row-fluid">
					<div class="span12">
						<div class="span6">
							<b>Current Tournament Status:</b>  
						</div>
						<div class="span6">	
							{{selectedTournament.status}} 
						</div>
					</div>	
				</div>
				<div class="row-fluid">
					<div class="span12">
						<div class="span6">
							<b>Tournament Title:</b>  
						</div>
						<div class="span6">	
							{{selectedTournament.shortTitle}} 
						</div>
					</div>	
				</div>
				<div class="row-fluid">
					<div class="span12">
						<div class="span6">
							<b>Tournament Description:</b>  
						</div>
						<div class="span6">	
							{{selectedTournament.description}} 
						</div>
					</div>	
				</div>
				<div class="row-fluid">
					<div class="span12">
						<div class="span6">
							<b>Additional Details:</b>  
						</div>
						<div class="span6">	
							{{selectedTournament.details}} 
						</div>
					</div>		
				</div>
				<div ng-show="selectedTournament.isGroup==true">
					<!--Mentor assignments-->
					<div class="row-fluid">
						<div class="span12">
							<div class="span6">
								<b>Mentor Assignment within team</b>
								<a data-toggle="tooltip" data-placement="right" title=" Mentor Assignment will be executed only within the team.">(?)</a>
								:
							</div>
							<div class="span6">
								<div ng-show="selectedTournament.assignMentorInTeam == true">Yes</div>
								<div ng-show="selectedTournament.assignMentorInTeam == false">No</div>
							</div>
						</div>	
					</div>
					<div class="row-fluid">
						<div class="span12">
							<div class="span6">
								<b>No. of groups:</b>  
							</div>
							<div class="span6">	
								{{selectedTournament.maxGroups}} 
							</div>
						</div>	
					</div>	
					<div class="row-fluid">
						<div class="span12">
							<div class="span6">
								<b>No. of players per group:</b>  
							</div>
							<div class="span6">	
								{{selectedTournament.maxPlayersPerGroup}} 
							</div>
						</div>	
					</div>	
				</div>
				<div class="pull-right">
					<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#editTournInfo"><i class="icon-edit icon-white"></i> Edit</button>
				</div>		
			</div>
			<div class="span6 well well-small" style="height:300px;overflow:auto;">
				<div ng-repeat="round in tournament.rounds" ng-controller="CountdownController" ng-init="start_timer(get_seconds_to_start(round.currentHeatDetails.startTime, round.currentHeatDetails.currentTime))">
					<div class="row-fluid">
						<div class="span12">
							<div class="span5">
								<b>Tournament Round Starting in:</b>  
							</div>
							<div class="span7">
							<font color="red" ng-show="counter==0"><b>Round has started</b></font>
							<font ng-show="counter<0">Round currently inactive</font>
							<font color="blue" ng-show="counter>0"><b>{{counter}} seconds</b></font>							
							</div>
						</div>	
					</div>
					<div class="row-fluid">
						<div class="span12">
							<div class="span5">
								<b>Round Title:</b>  
							</div>
							<div class="span7">	
								{{round.description}} 
							</div>
						</div>		
					</div>
					<div class="row-fluid" ng-hide="true">
						<div class="span12">
							<div class="span5">
								<b>Round Duration(mins):</b>  
							</div>
							<div class="span7">	
								{{currentRound.timelimit}} 
							</div>
						</div>		
					</div>

			<!--
				<div class="row-fluid">
					<div class="span12">
						<div class="span5">
							<b>No. of Registered Players:</b>  
						</div>
						<div class="span6">	
							{{selectedTournament.numPlayers}} 
						</div>
					</div>		
				</div>
			-->
				<!--<button class="btn" type="button" ng-show="currentHeatDetails==null" ng-show="counter==0" ng-click="round_end_manage(round.heats[0].heatID)">Go to Ranking<i class="icon-chevron-right icon-white"></i></button>-->
				<button class="btn btn-inverse" type="button" ng-show="counter==0" ng-click="round_end_manage(round.currentHeatDetails.heatID)">Go to Ranking <i class="icon-chevron-right icon-white"></i></button>
				</br>
				</br>
				</div>
			</div>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12">
			<ul class="nav nav-tabs">
 			 	<li class="tabspacing-create active"><a data-target='#Rounds' data-toggle="tab"><b>Rounds</b></a></li>
				 <li class="tabspacing-create"><a data-target='#Groups' data-toggle="tab" id="groups"><b>Players</b></a></li>
			</ul>
		</div>
	</div>

	<div class="tab-content">
		<div class="tab-pane active" id="Rounds">
			<div class="row-fluid">
				<button type="button" class="btn btn-primary" ng-click="add_new_rounds()"><i class="icon-plus icon-white"></i> <b>Add Rounds</b></button>
			</div>	
			<div class="row-fluid">
			<div class="span12 well well-small">
				<table ng-grid id="grpTournRoundsTable" class="table table-hover" width="100%">
	                <tr class="roundTableHeaders">
	                	<th class="roundTableHeader"><b>Round Title</b></th>
	                	<th class="roundTableHeader"><b>Round Duration (mins)</b></th>
	                	<th class="roundTableHeader"><b>No. of Questions</b></th>
	                	<th></th>
	                	<th class="roundTableHeader"><b>Start round in:</b></th>
	 				</tr>
	                <tr class="warning" ng-repeat="tournamentRound in selectedTournamentRounds">
	                    <td class="roundInfo">{{tournamentRound.description}}</td>
	                    <td class="roundInfo">{{tournamentRound.timelimit/60}}</td>
	                    <td class="roundInfo">{{tournamentRound.problemIDs.length}}</td>
	                    <td>
	                    	<div>
								<button class="btn btn-primary" type="button" ng-click="load_round_details(tournamentRound)"><i class="icon-edit icon-white"></i> Edit</button>
							</div>
						</td>	
	                    <td ng-show="selectedTournament.status=='Open for registration'">
	                    	<div  id="categories" class="btn-group" data-toggle="buttons-radio" align="center">		
	                    		<button type="button" class="btn btn-success" ng-click="createHeat(selectedTournament.tournamentID,tournamentRound.roundID,tournamentRound.currentHeat,1);plsHide=true" ng-hide="plsHide==true"><i class="icon-play icon-white"></i> 1 min</button>
	  							<button type="button" class="btn btn-success" ng-click="createHeat(selectedTournament.tournamentID,tournamentRound.roundID,tournamentRound.currentHeat,5);plsHide=true" ng-hide="plsHide==true"><i class="icon-play icon-white"></i> 5 min</button>
	  							<button type="button" class="btn btn-success" ng-click="createHeat(selectedTournament.tournamentID,tournamentRound.roundID,tournamentRound.currentHeat,30);plsHide=true" ng-hide="plsHide==true"><i class="icon-play icon-white"></i> 30 min</button>
	  							<button type="button" class="btn btn-success" ng-click="createHeat(selectedTournament.tournamentID,tournamentRound.roundID,tournamentRound.currentHeat,60);plsHide=true" ng-hide="plsHide==true"><i class="icon-play icon-white"></i> 60 min</button>	
	  							<button class="btn btn-danger" type="button" ng-model="stopRound" ng-click="stopHeat(selectedTournament.tournamentID,tournamentRound.roundID);plsHide=false"><i class="icon-stop icon-white"></i> Stop </button>	
							</div>
	                    </td>
	                    <td ng-show="selectedTournament.status!='Open for registration'">
	                    	Tournament is not open!
	                    </td>
	                </tr>
            	</table>
            	<center><button class="btn btn-inverse" type="button" ng-click="mytournaments_rankings()"><i class="icon-list icon-white"></i> View Completed Round Rankings </button></center>
			</div>
			</div>
		</div>

  		<div class="tab-pane" id="Groups">
  			<div class="row-fluid" ng-show="selectedTournament.status=='Closed'">
  				<center><h2>The Tournament Status is Closed.</h2></center>
  			</div>
  			<div class="row-fluid" ng-show="selectedTournament.status=='Open for registration'">
	  			<div class="span4" id="unregisteredUsers" style="overflow:auto;" width="100%">
					<div class="row-fluid">
						<div class="span12 bootCamp" id="heading"> 
							<div ng-show="selectedTournament.isGroup">
								Registered Users Without Groups
							</div>
							<div ng-hide="selectedTournament.isGroup">
								Registered Users
							</div>		
						</div>
					</div>	


					<div class="row-fluid">
						<div class="span12 well well-small" style="overflow:auto;">
							<li class="bulletless" ng-repeat="unregisteredPlayer in registeredPlayersArray track by $index">
								<button class="btn bttn ft" ng-click="remove_from_tournament(unregisteredPlayer.playerID, selectedTournament.tournamentID)"><span><b>{{unregisteredPlayer.nickname}}</b></span></button>
							</li>	
						</div>
					</div>
				</div> 	

	  			<div class="span8" id="registeredUserWithTeam" style="overflow:auto;" width="100%" ng-show="selectedTournament.isGroup">
					<div class="row-fluid">
						<div class="span12 bootCamp" id="heading">Registered Groups</div>
					</div>
					<div class="row-fluid" ng-init="get_registeredPlayers()">
						<div class="row-fluid" >
							<div class="span12 well well-small" style="overflow:auto;">
								<div >
									<table class="table table-hover playerTable">
										<tr >
											<td ng-repeat="group in numGrp track by $index">			
												<b>Group {{$index+1}}</b>
												
												<li class="bulletless" ng-repeat="player in group track by $index">
													<button class="btn bttn ft overspill" ng-if="$index != 0" ng-click="join_grp(player.playerID, selectedTournament.tournamentID, 0)"><span><b>{{player.nickname}}</b></span>
													</button>
												</li>
											
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>				  
					</div>
				</div>	
			</div>	
		</div>
	</div>

	<div class="modal fade modal-large" id="editTournInfo" style="display:none">
		<div class="modal-header">
			<center><h3 class="modal-title">Edit Tournament Details</h3></center>
		</div>
		<div class="modal-body" style="color:black">
	        <div class="row-fluid">
				<div class="span12">
					<div class="span4">
						<b>Tournament Title*:</b>
					</div>
					<div class="span8">
						 <input class="span8" type="text" required ng-model="selectedTournament.shortTitle"></input>
					</div>
				</div>	
			</div>
			<div class="row-fluid">
				<div class="span12">
					<div class="span4">
						<b>Tournament Description:</b>
					</div>
					<div class="span8">
						 <textarea class="span8" rows="3" ng-model="selectedTournament.description">
						</textarea>
					</div>
				</div>	
			</div>
			<div class="row-fluid">
				<div class="span12">
					<div class="span4">
						<b>Password*:</b>
					</div>
					<div class="span8">
						 <input class="span6" type="password" required ng-model="selectedTournament.password"></input>
					</div>
				</div>	
			</div>
			<div class="row-fluid">
				<div class="span12">
					<div class="span4">
						<b>Password Confirm*:</b>
					</div>
					<div class="span8">
						 <input class="span6" type="password" required ng-model="passwordConfirm"></input>
						 <span class="alert-error" ng-show="passwordConfirm!=selectedTournament.password">Password doesn't match!
						 </span>
					</div>
				</div>	
			</div>
			<div class="row-fluid">
				<div class="span12">
					<div class="span4">
						<b>Additional Details:</b>
					</div>
					<div class="span8">
						 <textarea class="span8" rows="3" ng-model="selectedTournament.details">
						</textarea>
					</div>
				</div>	
			</div>
			<div ng-show="selectedTournament.isGroup==true">
				<!--Mentor assignment
				<div class="row-fluid">
					<div class="span12">
						<div class="span4">
							<b>Mentor Assignment within team</b>
							<a data-toggle="tooltip" data-placement="right" title="If you select this option, Mentor Assignment will be executed within team only.">(?)</a>
							:
						</div>
						<div class="span8">
							 <input type="checkbox" ng-model="selectedTournament.assignMentorInTeam" ></input>
						</div>
					</div>	
				</div>
				-->
				<!--Max number of group-->
				<div class="row-fluid">
					<div class="span12">
						<div class="span4">
							<b>No. of groups:</b>
						</div>
						<div class="span8">
							 <select class="span2" ng-model="selectedTournament.maxGroups" ng-options="numgrp for numgrp in [2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]"></select>
						</div>
					</div>	
				</div>

				<!--Max number of players per group-->
				<div class="row-fluid">
					<div class="span12">
						<div class="span4">
							<b>No. of players per group:</b>
						</div>
						<div class="span8">
							 <select class="span2" ng-model="selectedTournament.maxPlayersPerGroup" ng-options="maxnumplayers for maxnumplayers in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]"></select>
						</div>
					</div>	
				</div>
			</div>
	    </div>
	    <div class="modal-footer">
	    	<button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-remove icon-black"></i> Close</button>
	        <button type="button" class="btn btn-primary" ng-click="updateTournament()"><i class="icon-ok icon-white"></i> Save Changes</button>
	    </div>
	</div>

	<div class="modal fade modal-xlarge" id="editTournRound" style="display:none">
		<div class="modal-header">
			<center><h3 class="modal-title">Edit Tournament Round</h3></center>
		</div>
		<div class="modal-body" style="color:black">
			<div class="row-fluid">
		        <div class="span 12 well well-small">
			        <div class="row-fluid">
						<div class="span12">
							<div class="span3">
								<b>Round Title*:</b>
							</div>
							<div class="span9">
								 <input class="span8" type="text" required ng-model="selectedRound.description"></input>
							</div>
						</div>	
					</div>
					<div class="row-fluid">
						<div class="span12">
							<div class="span3">
								<b>Duration(mins):</b>
							</div>
							<div class="span9">
								 <select class="span3" ng-model="timeInMins" ng-options="numgrp for numgrp in [10,15,20,25,30,35,40,45,50,55,60]"></select>
							</div>
						</div>	
					</div>
					<!--
					<div class="row-fluid">
						<div class="span12">
							<div class="span3">
								<b>Round Description:</b>
							</div>
							<div class="span9">
								 <textarea class="span8" rows="3" ng-model="selectedRound.description">
								</textarea>
							</div>
						</div>	
					</div>
					-->
				</div>
			</div>
			<div>
				<div class="span6">
					<h4>Current Round Questions</h4>
					<div class="row-fluid">
						<button name="addMoreQuestions" ng-click="addMoreQuestions()" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add More Questions</button>
					</div>
				</br>
			        <table ng-grid id="questionCartTable" class="table table-condensed">
		            	<tr class"questionTableTitle">
		            		<th class"questionTitle">Question Title</th>
		            		<th></th>
		            		<th></th>
		            		<!--<th></th>-->
		            	</tr>
		                <tr ng-repeat="question in cartQuestions track by $index" class="questionTableRows">
		                    <td title="Question Title" class="questionTitleRow"><button type="button" class="btn btn-link" ng-click="viewQuestionsInfoInCart(question)">{{question.name}}</button></td>
		                    <td class="questionTableCells">
		                    	<div ng-hide="$index==0">
		                    		<button name="moveUp" ng-click="moveQuestionUp($index)" class="btn btn-warning"><i class="icon-arrow-up icon-white"></i> Move Up</button>
		                    	</div>
		                    </td>
		                    <td class="questionTableCells">
		                    	<div ng-hide="$index==cartQuestions.length-1">
		                    		<button name="moveDown" ng-click="moveQuestionDown($index)" class="btn btn-warning"><i class="icon-arrow-down icon-white"></i> Move Down</button>
		                   		</div>
		                    </td>
		                    <td class="questionTableCells">
		                    	<div>
		                    		<button name="delete" ng-click="deleteFromCart($index)" class="btn btn-danger"><i class="icon-trash icon-white"></i> Delete</button>
		                   		</div>
		                    </td>
		                </tr>
		        	</table>
		        </div>	
	        </div>	
	    </div>
	    <div class="modal-footer">
	    	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="resetQuestionCart_editTournRound()"><i class="icon-remove icon-black"></i> Close</button>
	       	<button type="button" class="btn btn-primary" ng-click="updateRound()"><i class="icon-ok icon-white"></i> Save Changes</button>
	    </div>
	</div>

	<!-- Question Information Modal -->
	<div class="modal fade" id="questionInfoInCart" style="display:none">
		<div class="modal-header">
			<center><h3 class="modal-title">Question Information</h3></center>
		</div>
		<div class="modal-body" style="color:black">
	        <div class="row-fluid">
				<div class="span10">
					<b>Question Title:</b>
					</br>
					{{questionName}}
				</div>	
			</div>
			</br>
			<div class="row-fluid">
				<div class="span10">
					<b>Description:</b>
					</br>
					{{questionDescription}}
				</div>	
			</div>
			</br>
			<div class="row-fluid">
				<div class="span10">
					<b>Example:</b>
					</br>
					{{questionExamples}}
				</div>	
			</div>
			</br>
			<div class="row-fluid">
				<div class="span10">
					<b>Starting Code:</b>
					</br>
					{{skeleton}}
				</div>	
			</div>
			</br>
	    </div>
	    <div class="modal-footer">
	        <a href="#" data-dismiss="modal"><button name="gotit" class="btn btn-primary" ng-click="hideQuestionInfoEditRound()"><i class="icon-ok icon-white"></i> Ok</button></a>
	    </div>
	</div>

	<!-- Edit Success Modal -->
	<div class="modal fade" id="changesSaved" style="display:none">         
	    <div class="modal-body" style="color:black">
	        <center><h2>Changes Saved!</h2></center>
	    </div>
	    <div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="resetQuestionCart()"><i class="icon-ok icon-white"></i> Ok</button>
	    </div>
	</div>

	<div class="modal fade modal-xlarge" id="addMoreQuestions" style="display:none">
		<div class="modal-header">
			<center><h4 class="modal-title">Add More Questions To Round</h4></center>
		</div>
		<div class="modal-body" style="color:black">
	        <div class="row-fluid">
				<div class="span6 well well-small">
					<div class="row-fluid">
						<div class="span12">
							<div class="span6">
								Select a Game Path:
							</div>
							<div class="span6">	
								<select class="span12" ng-model="selectedPath" ng-init="populatePaths()" ng-change="loadLevelList()">
									<option value="" selected>Choose Game Path...</option>
									<option ng-repeat="gamePath in gamePaths" value="{{gamePath.id}}">{{gamePath.name}}</option>
								</select>
							</div>
						</div>
					</div>			
					<!--Choosing a Level-->
					<div class="row-fluid">
						<div class="span12">
							<div class="span6">
								Select a Level:
							</div>
							<div class="span6">	
								<select class="span12" ng-model="pathLevel" multiple-"multiple" size="10">
									<option ng-repeat="gameLevel in gameLevels" value="{{gameLevel.id}}" ng-click="loadQueriedQuestionTable()">{{gameLevel.description}}</option>
								</select>
							</div>
						</div>
					</div>	
					<div class="row-fluid">
						<div class="span12">	
							<center>
								<button class="btn btn-primary" id="create" type="button" ng-click="loadQueriedQuestionTable()"><i class="icon-search icon-white"></i> Search Questions</button>
							</center>
						</div>	
					</div>
				</div>	          	
		       	<div class="span6 well well-small">
		       		<div class="row-fluid">
		           		<div class="span12" id="questionCount">
		           			<b>No. of Questions: </b>{{cartQuestions.length}}</div>
		    		</div>
					</br>
			        <table ng-grid id="questionTable" class="table table-bordered" width="100%">
			        	<tr class"questionTableTitle">
			        		<th class"questionTitle">Question Title</th>
			        		<th class"questionTitle"> </th>
			        	</tr>
			            <tr ng-repeat="bankQuestion in bankQuestions" class="questionTableRows">
			                <td title="Question Title" class="questionTitleRow"><button type="button" class="btn btn-link" ng-click="viewQnsInfo_editRound(bankQuestion)">{{bankQuestion.name}}</button></td>
			                <td class="questionTableCells">
			                	<button name="addQuestions" ng-click="addToCart(bankQuestion);isDisabled=true" class="btn btn-primary" ng-disabled="isDisabled" ng-hide="isDisabled==true"><i class="icon-plus icon-white"></i> Add</button>
			                </td>
			            </tr>
			    	</table>
		    	</div>
		    </div>	
	    </div>
	    <div class="modal-footer">
	        <button type="button" class="btn btn-primary" ng-click="hideAddMoreQuestions()"><i class="icon-ok icon-white"></i> Done Adding Questions</button>
	    </div>
	</div>

	<!-- Question Information Modal -->
	<div class="modal fade" id="qnsInfo_editRound" style="display:none">
		<div class="modal-header">
			<center><h3 class="modal-title">Question Information</h3></center>
		</div>
		<div class="modal-body" style="color:black">
	        <div class="row-fluid">
				<div class="span10">
					<b>Question Title:</b>
					</br>
					{{questionName}}
				</div>	
			</div>
			</br>
			<div class="row-fluid">
				<div class="span10">
					<b>Description:</b>
					</br>
					{{questionDescription}}
				</div>	
			</div>
			</br>
			<div class="row-fluid">
				<div class="span10">
					<b>Example:</b>
					</br>
					{{questionExamples}}
				</div>	
			</div>
			</br>
			<div class="row-fluid">
				<div class="span10">
					<b>Starting Code:</b>
					</br>
					{{skeleton}}
				</div>	
			</div>
			</br>
	    </div>
	    <div class="modal-footer">
	        <a href="#" data-dismiss="modal"><button name="gotit" class="btn btn-primary" ng-click="hideQnsInfoEditRound_addQns()"><i class="icon-ok icon-white"></i> Ok</button></a>
	    </div>
	</div>

	<!-- Question Information Modal -->
	<div class="modal fade" id="qnsInfo_addNewRound" style="display:none">
		<div class="modal-header">
			<center><h3 class="modal-title">Question Information</h3></center>
		</div>
		<div class="modal-body" style="color:black">
	        <div class="row-fluid">
				<div class="span10">
					<b>Question Title:</b>
					</br>
					{{questionName}}
				</div>	
			</div>
			</br>
			<div class="row-fluid">
				<div class="span10">
					<b>Description:</b>
					</br>
					{{questionDescription}}
				</div>	
			</div>
			</br>
			<div class="row-fluid">
				<div class="span10">
					<b>Example:</b>
					</br>
					{{questionExamples}}
				</div>	
			</div>
			</br>
			<div class="row-fluid">
				<div class="span10">
					<b>Starting Code:</b>
					</br>
					{{skeleton}}
				</div>	
			</div>
			</br>
	    </div>
	    <div class="modal-footer">
	        <a href="#" data-dismiss="modal"><button name="gotit" class="btn btn-primary" ng-click="hideQnsInfoAddNewRound()"><i class="icon-ok icon-white"></i> Ok</button></a>
	    </div>
	</div>

	<!-- Add Rounds Modal -->
	<div class="modal fade modal-xlarge" id="addNewRounds" style="display:none">
		<div class="modal-header">
			<center><h3 class="modal-title">Add New Rounds</h3></center>
		</div>
		<div class="modal-body" style="color:black">
			<div class="row-fluid">
		        <div class="span 12 well well-small">
			        <!--Round Name input field-->
					<div class="row-fluid">
						<div class="span12">
							<div class="span3">
								<b>Round Title</b>*:
							</div>
							<div class="span8">
								<input class="span9" type="text" required ng-model="grpTourRoundName" placeholder="Enter round name here" ></input>
								<span class="alert-error" ng-show="grpTourRoundName==''">Required!
							 	</span>
							</div>
						</div>	
					</div>
					<div class="row-fluid">
						<div class="span12">
							<!--Round Duration input field-->
							<div class="span3">
								<b>Duration(minutes)</b>*:
							</div>
							<div class="span8">
								<select class="span3" ng-model="grpTourRoundMins" ng-options="numgrp for numgrp in [10,15,20,25,30,35,40,45,50,55,60]"></select>
								<span class="alert-error" ng-show="grpTourRoundMins==''">Required!
								</span>
							</div>
						</div>	
					</div>
				</div>
			</div>			
	        <div class="row-fluid">
				<div class="span6 well well-small">
					<div class="row-fluid">
						<div class="span12">
							<div class="span6">
								Select a Game Path:
							</div>
							<div class="span6">	
								<select class="span12" ng-model="selectedPath" ng-init="populatePaths()" ng-change="loadLevelList()">
									<option value="" selected>Choose Game Path...</option>
									<option ng-repeat="gamePath in gamePaths" value="{{gamePath.id}}">{{gamePath.name}}</option>
								</select>
							</div>
						</div>
					</div>			
					<!--Choosing a Level-->
					<div class="row-fluid">
						<div class="span12">
							<div class="span6">
								Select a Level:
							</div>
							<div class="span6">	
								<select class="span12" ng-model="pathLevel" multiple-"multiple" size="10">
									<option ng-repeat="gameLevel in gameLevels" value="{{gameLevel.id}}" ng-click="loadQueriedQuestionTable()">{{gameLevel.description}}</option>
								</select>
							</div>
						</div>
					</div>	
					<div class="row-fluid">
						<div class="span12">	
							<center>
								<button class="btn btn-primary" id="create" type="button" ng-click="loadQueriedQuestionTable()"><i class="icon-search icon-white"></i> Search Questions</button>
							</center>
						</div>	
					</div>
				</div>	          	
		       	<div class="span6 well well-small">
		       		<div class="row-fluid">
		           		<div class="span12" id="questionCount">
		           			<b>No. of Questions: </b>{{cartQuestions.length}}</div>
		    		</div>
					</br>
			        <table ng-grid id="questionTable" class="table table-bordered" width="100%">
			        	<tr class"questionTableTitle">
			        		<th class"questionTitle">Question Title</th>
			        		<th class"questionTitle"> </th>
			        	</tr>
			            <tr ng-repeat="bankQuestion in bankQuestions" class="questionTableRows">
			                <td title="Question Title" class="questionTitleRow"><button type="button" class="btn btn-link" ng-click="viewQnsInfo_addNewRound(bankQuestion)">{{bankQuestion.name}}</button></td>
			                <td class="questionTableCells">
			                	<button name="addQuestions" ng-click="addToCart(bankQuestion);isDisabled=true" class="btn btn-primary" ng-disabled="isDisabled" ng-hide="isDisabled==true"><i class="icon-plus icon-white"></i> Add</button>
			                </td>
			            </tr>
			    	</table>
		    	</div>
		    </div>	
	    </div>
	    <div class="modal-footer">
	    	<center>
	    		<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="resetQuestionCart_addNewRound()"><i class="icon-remove icon-black"></i> Close</button>
	    		<button class="btn btn-info" id="create" type="button" ng-click="viewQuestionsInCart()"><i class="icon-eye-open icon-white"></i> Edit Added Questions</button>
	       		<button type="button" class="btn btn-primary" ng-click="add_newRound()"><i class="icon-ok icon-white"></i> Add Round</button>
	       </center>
	    </div>
	</div>

	<div class="modal fade" id="questionsInCart" style="display:none">
		<div class="modal-header">
			<center><h3 class="modal-title">Current Round Questions</h3></center>
		</div>
		<div class="modal-body" style="color:black">
			<div ng-show="cartQuestions.length==0">
				<center><b> You have not added any questions! </b></center>
			</div>
			<div ng-show="cartQuestions.length!=0">
		        <table ng-grid id="questionCartTable" class="table table-bordered" width="100%">
	            	<tr class"questionTableTitle">
	            		<th class"questionTitle">Question Title</th>
	            		<th class"questionTitle">Actions</th>
	            	</tr>
	                <tr ng-repeat="question in cartQuestions track by $index" class="questionTableRows">
	                    <td title="Question Title" class="questionTitleRow"><button type="button" class="btn btn-link" ng-click="viewQuestionsInfoInCart(question)">{{question.name}}</button></td>
	                    <td class="questionTableCells">
	                    	<div ng-hide="$index==0">
	                    		<button name="moveUp" ng-click="moveQuestionUp($index)" class="btn btn-warning"><i class="icon-arrow-up icon-white"></i> Move Up</button>
	                    	</div>
	                    </td>
	                    <td class="questionTableCells">
	                    	<div ng-hide="$index==cartQuestions.length-1">
	                    		<button name="moveDown" ng-click="moveQuestionDown($index)" class="btn btn-warning"><i class="icon-arrow-down icon-white"></i> Move Down</button>
	                   		</div>
	                    </td>
	                    <td class="questionTableCells">
	                    	<button name="deleteQuestions" ng-click="deleteFromCart($index)" class="btn btn-danger"><i class="icon-remove icon-white"></i> Remove</button>
	                    </td>
	                </tr>
	        	</table>
	        </div>	
	    </div>
	    <div class="modal-footer">
	        <a href="#" data-dismiss="modal"><button name="gotit" class="btn btn-primary" ng-click="hideQuestionsInCart()"><i class="icon-ok icon-white"></i> Done</button></a>
	    </div>
	</div>

	<div class="modal fade" id="questionInfoInCart" style="display:none">
		<div class="modal-header">
			<center><h3 class="modal-title">Question Information</h3></center>
		</div>
		<div class="modal-body" style="color:black">
	        <div class="row-fluid">
				<div class="span10">
					<b>Question Title:</b>
					</br>
					{{questionName}}
				</div>	
			</div>
			</br>
			<div class="row-fluid">
				<div class="span10">
					<b>Description:</b>
					</br>
					{{questionDescription}}
				</div>	
			</div>
			</br>
			<div class="row-fluid">
				<div class="span10">
					<b>Example:</b>
					</br>
					{{questionExamples}}
				</div>	
			</div>
			</br>
			<div class="row-fluid">
				<div class="span10">
					<b>Starting Code:</b>
					</br>
					{{skeleton}}
				</div>	
			</div>
			</br>
	    </div>
	    <div class="modal-footer">
	        <a href="#" data-dismiss="modal"><button name="gotit" class="btn btn-primary" ng-click="hideQuestionsInfoInCart()"><i class="icon-ok icon-white"></i> Ok</button></a>
	    </div>
	</div>
</div>