</br>
<div class="container" id="manageTournament" style="position:relative;" ng-controller="GenshyftTournamentController" ng-init="get_mytournaments()">
	<center><h2>My Tournaments</h2></center>
	</br>
	<div class="row-fluid">
		<div class="span12">
			<button class="btn btn-primary" type="button" onClick="parent.location='#/mytournaments-create'">+ Create Tournament </button></br></br>
			<b>Tournaments by you:</b>
		</div>
	</div>
	<div ng-show="tournaments.list_grpTournaments.length==0">
		<center><b> You have not created any tournaments. Click on the button above to create one! </b></center>
	</div>
	<div ng-show="tournaments.list_grpTournaments.length!=0">
		<div class="row-fluid" ng-repeat="tournament in tournaments.list_grpTournaments track by $index">		
			<div class="span12 well well-small" >
				ID: {{tournaments.list_grpTournaments[$index].title}}
				</br>Title: {{tournaments.list_grpTournaments[$index].title}}
				</br>Type: {{tournaments.list_grpTournaments[$index].description}}
				</br>Status: {{tournaments.list_grpTournaments[$index].status}}
				</br>Status: {{tournaments.list_grpTournaments[$index].type}}
				</br><button class="btn btn-primary" type="button" onClick="parent.location='#/mytournaments-manage'">Manage </button>
				<span style="float: right">Last Changes Made: {{tournaments.list_grpTournaments[$index].maxNoGroup}}</span>
			</div>
		</div>
	</div>
</div>