<style>
.modal-body{position: relative;
    overflow-y: auto;
    max-height: 16000px;
    padding: 15px;}
</style>
</br>
<div ng-controller="GenshyftTournamentController" ng-init="loading()" class="container" id="tourncreate"style="position:relative;" >
	<center><h2>Create Tournament</h2></center>

	<div class="row-fluid">
		<div class="span12">
			<ul class="nav nav-tabs">
 			 	<li class="tabspacing-create active"><a data-target='#TourDetails' data-toggle="tab"><b>Tournament Details</b></a></li>
				 <li class="tabspacing-create"><a data-target='#AddRounds' data-toggle="tab" id="groups"><b>Add Rounds</b></a></li>
				 <li class="tabspacing-create"><a data-target='#ChooseQns' data-toggle="tab" id="groups"><b>Choose Questions</b></a></li>
			</ul>
		</div>
	</div>
	<div class="tab-content">
		<div class="tab-pane active" id="TourDetails">
		<!--Title input field-->
		<h4>My Tournament Details</h4>
		<div class="row-fluid">
		<div class="span12 well well-small">
			<div class="row-fluid">
				<div class="span12">
					<div class="span2">
						Tournament Name*:
					</div>
					<div class="span9">
						 <input class="span8" type="text" required ng-model="grpTourTitle" placeholder="Enter tournament title here" ></input>
						 <span class="alert-error" ng-show="grpTourTitle==''">Required!
						 </span>
					</div>
				</div>	
			</div>

			<!--Description input field-->
			<div class="row-fluid">
				<div class="span12">
					<div class="span2">
						Tournament Description:
					</div>
					<div class="span9">
						 <textarea class="span8" rows="3" ng-model="grpTourDescription" placeholder = "Please enter a description for your tournament" >
						</textarea>
					</div>
				</div>	
			</div>

			<!--Password input field-->
			<div class="row-fluid">
				<div class="span12">
					<div class="span2">
						Password*:
					</div>
					<div class="span6">
						 <input class="span5" type="password" required ng-model="grpTourPassword" placeholder="Enter tournament password here" ></input>
						 <span class="alert-error" ng-show="grpTourPassword==''">Required!
						 </span>
					</div>
				</div>	
			</div>

			<!--Confirm Password input field-->
			<div class="row-fluid">
				<div class="span12">
					<div class="span2">
						Password Confirm*:
					</div>
					<div class="span6">
						 <input class="span5" type="password" required ng-model="grpTourPasswordConfirm" placeholder="Confirm tournament password here" ></input>
						 <span class="alert-error" ng-show="grpTourPasswordConfirm!=grpTourPassword||grpTourPasswordConfirm==''">Password doesn't match!
						 </span>
					</div>
				</div>	
			</div>

			<!--Additional Details input field-->
			<div class="row-fluid">
				<div class="span12">
					<div class="span2">
						Additional Details:
					</div>
					<div class="span9">
						 <textarea class="span8" rows="3" ng-model="grpTourAddDetails" placeholder = "Please enter any additional details for your tournament" >
						</textarea>
					</div>
				</div>	
			</div>
			
			<!--Tournament type selection-->
			<div class="row-fluid">
				<div class="span12">
					<div class="span2">
						Type:
					</div>
					<div class="span9">
						 <div class="span8">
						  <label>
						    <input type="radio" ng-model="grpTourType" id="optionsRadios1" value="individual">
						    Individual
						  </label>
						  <label>
						    <input type="radio" ng-model="grpTourType" id="optionsRadios2" value="group">
						    Group
						  </label>
						</div>
					</div>
				</div>	
			</div>

			<div ng-show="grpTourType == 'group'">

				<!--Mentor assignments-->
				<div class="row-fluid">
					<div class="span12">
						<div class="span2">
							Mentor Assignment within team:
						</div>
						<div class="span1">
							 <input type="checkbox" ng-model="grpTourMentor" ></input>
						</div>
					</div>	
				</div>

				<!--Max number of group-->
				<div class="row-fluid">
					<div class="span12">
						<div class="span2">
							No. of groups:
						</div>
						<div class="span9">
							 <select class="span2" ng-model="grpTourNoGroup" ng-options="numgrp for numgrp in [2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]"></select>
						</div>
					</div>	
				</div>

				<!--Max number of players per group-->
				<div class="row-fluid">
					<div class="span12">
						<div class="span2">
							Max no. of players per group:
						</div>
						<div class="span9">
							 <select class="span2" ng-model="grpTourMaxNoPlayer" ng-options="maxnumplayers for maxnumplayers in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]"></select>
						</div>
					</div>	
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<center>
						<button class="btn btn-primary" type="button" data-target='#AddRounds' data-toggle="tab" id="groups">Add Rounds</button> 
					</center>
				</div>	
			</div>
		</div>
		</div>	
		</br>
		</br>
	</div><!--end of tournament details tab-->

		<!--Add Rounds Tab-->
		<div class="tab-pane" id="AddRounds">
			<h4>Round Details</h4>
			<div class="row-fluid">
				<div class="span12 well well-small">
					<!--Round Name input field-->
					<div class="row-fluid">
						<div class="span10">
							<div class="span3">
								Round Name*:
							</div>
							<div class="span7">
								<input class="span7" type="text" required ng-model="grpTourRoundName" placeholder="Enter round name here" ></input>
								<span class="alert-error" ng-show="grpTourRoundName==''">Required!
							 	</span>
							</div>
						</div>	
					</div>
					<!--Round Duration input field-->
					<div class="row-fluid">
						<div class="span10">
							<div class="span3">
								Duration(minutes)*:
							</div>
							<div class="span7">
								<select class="span3" ng-model="grpTourRoundMins" ng-options="numgrp for numgrp in [10,15,20,25,30,35,40,45,50,55,60]"></select>
							</div>
						</div>	
					</div>
					<!--Round Duration input field-->
					<div class="row-fluid">
						<div class="span10">
							<div class="span3">
								Number of Questions:
							</div>
							<div class="span7">
								{{cartQuestions.length}}
							</div>
						</div>	
					</div>
				</br>
				<center>
					<button class="btn btn-primary" type="button" data-target='#ChooseQns' data-toggle="tab" id="groups"> Choose Questions</button>
				</center>
				</div>
			</div>
			<center><div class="tournamentRoundheader" ><b>{{grpTourTitle}} Tournament Rounds</b></div></center>
			<table ng-grid id="grpTournRoundsTable" class="table table-bordered" width="100%">
                <tr class="roundTableHeaders">
                	<th class="roundTableHeader"><b>Round Title</b></th>
                	<th class="roundTableHeader"><b>Round Duration</b></th>
                	<th class="roundTableHeader"><b>Number of Questions in round</b></th>
                	<th></th>
 				</tr>
                <tr ng-repeat="newTournamentRound in newTournamentRounds track by $index" class="active">
                    <td class="roundInfo">{{newTournamentRound.roundName}}</td>
                    <td class="roundInfo">{{newTournamentRound.timeLimit}}</td>
                    <td class="roundInfo">{{newTournamentRound.problemIDs.length}}</td>
                    <td class="editRoundInfo">
                    	<button class="btn btn-danger" id="create" type="button" ng-click="deleteRound($index)">Delete Round</button>
                    </td>
                </tr>
                <tr class="warning">
                    <td class="roundInfo">{{grpTourRoundName}}</td>
                    <td class="roundInfo">{{grpTourRoundMins}}</td>
                    <td class="roundInfo">{{cartQuestions.length}}</td>
                </tr>
            </table>
		<!--Finalize Tournament-->
			<div class="row-fluid">
				<div class="span12">	
						<center>
							<button class="btn btn-primary btn-lg" id="create" type="button" ng-click="create_grptournament(5060388987076608)">Finalize Tournament</button>
						</center>
				</div>	
			</div>
		</div><!--end of add rounds tab-->


		<!-- Choose Questions tab -->
		<div class="tab-pane" id="ChooseQns">
			<h4>Choose Round Questions</h4>
			<!--Choosing a Game Path-->
			<div class="row-fluid">
			<div class="span12 well well-small">
				<div class="row-fluid">
					<div class="span12">
						<div class="span2">
							Select a Game Path:
						</div>
						<div class="span3">	
							<select class="span7" ng-model="qnsLanguage" ng-options="languages for languages in ['Ruby','Python', 'Javascript','Java']" ng-change="get_tournamentLvl(qnsLanguage)"></select>
						</div>
				<!--Choosing a Level-->
						<div class="span2">
							Select a Level:
						</div>
						<div class="span3">	
							<select class="span12" ng-model="pathLevel" ng-init="get_tournamentLvl(qnsLanguage)" multiple-"multiple" size="4">
								<option ng-repeat="pathLvl in lvlArray">{{pathLvl}}</option>
							</select>
						</div>
					</div>
				</div>		
				<div class="row-fluid">
					<div class="span12">	
							<center>
								<button class="btn btn-primary" id="create" type="button" ng-click="get_tournamentQns(qnsLanguage, pathLevel)">Search Questions</button>
							</center>
					</div>	
				</div>
			</div>
            </div>	              	
	           	<div class="row-fluid">
	           		<div class="span12">
			            <div class="span3"><b>Round Name: </b>{{grpTourRoundName}}</div>
			            <div class="span3" id="questionDuration"><b>Duration: </b>{{grpTourRoundMins}} mins</div>
			            <div class="span2" id="questionCount"><b>Questions: </b>{{cartQuestions.length}}</div>
			            <div class="span4"><button class="btn btn-default" id="create" type="button" ng-click="viewQuestionsInCart()">View Added Questions</button></div>
	        	</div>
	            </br>
	        </br>
	            <table ng-grid id="questionTable" class="table table-bordered" width="100%">
	            	<tr class"questionTableTitle">
	            		<th class"questionTitle">Question Title</th>
	            		<th class"questionTitle"> </th>
	            	</tr>
	                <tr ng-repeat="question in qnsArray" class="questionTableRows">
	                    <td title="Question Title" class="questionTitleRow"><button type="button" class="btn btn-link" ng-click="viewQuestionInfo(question.questionId)">{{question.question}}</button></td>
	                    <td class="questionTableCells">
	                    	<button name="addQuestions" ng-click="addToCart(question);isDisabled=true" class="btn btn-primary" ng-disabled="isDisabled">Add</button>
	                    </td>
	                </tr>
            	</table>
		</br>
            <div class="row-fluid">
				<div class="span12">	
					<center>
						<button class="btn btn-primary" id="create" type="button" ng-click="save_round()">Save Round</button>
					</center>
				</div>	
			</div>
		</div><!--end of choose questions tab-->
	</div>
	<!-- Tournament Creation Success Modal -->
	<div class="modal fade" id="grpTournamentCreated" style="display:none">         
	    <div class="modal-body" style="color:black">
	        You have successfully created a tournament!
	    </div>
	    <div class="modal-footer">
	        <button name="gotit" class="btn btn-primary" ng-click="hideSuccessTournamentModal()">Ok</button>
	    </div>
	</div>

	<div class="modal fade" id="roundSaved" style="display:none">
		<div class="modal-body" style="color:black">
	        Round Saved!
	    </div>
	    <div class="modal-footer">
	        <a href="#" data-dismiss="modal"><button name="gotit" class="btn btn-primary" ng-click="hideSuccessRoundSaved()" data-target='#AddRounds' data-toggle="tab">Ok</button></a>
	    </div>
	</div>

	<div class="modal fade" id="questionInfo" style="display:none">
		<div class="modal-body" style="color:black">
			<h3>Question Information</h3>
	        <div class="row-fluid">
				<div class="span10">
					<b>Question Title:</b>
					</br>
					{{questionName}}
				</div>	
			</div>
			</br>
			<div class="row-fluid">
				<div class="span10">
					<b>Description:</b>
					</br>
					{{questionDescription}}
				</div>	
			</div>
			</br>
			<div class="row-fluid">
				<div class="span10">
					<b>Example:</b>
					</br>
					{{questionExamples}}
				</div>	
			</div>
			</br>
			<div class="row-fluid">
				<div class="span10">
					<b>Starting Code:</b>
					</br>
					{{skeleton}}
				</div>	
			</div>
			</br>
	    </div>
	    <div class="modal-footer">
	        <a href="#" data-dismiss="modal"><button name="gotit" class="btn btn-primary" ng-click="hideQuestionInfo()">Ok</button></a>
	    </div>
	</div>

	<div class="modal fade" id="questionsInCart" style="display:none">
		<div class="modal-body" style="color:black">
			<h3>Questions inside current round</h3>
	        <table ng-grid id="questionCartTable" class="table table-bordered" width="100%">
            	<tr class"questionTableTitle">
            		<th class"questionTitle">Question Title</th>
            		<th class"questionTitle"> </th>
            	</tr>
                <tr ng-repeat="question in cartQuestions track by $index" class="questionTableRows">
                    <td title="Question Title" class="questionTitleRow"><button type="button" class="btn btn-link" ng-click="viewQuestionInfo(question.questionId)">{{question.question}}</button></td>
                    <td class="questionTableCells">
                    	<button name="deleteQuestions" ng-click="deleteFromCart($index)" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
        	</table>
	    </div>
	    <div class="modal-footer">
	        <a href="#" data-dismiss="modal"><button name="gotit" class="btn btn-primary" ng-click="hideQuestionsInCart()">Done</button></a>
	    </div>
	</div>

</div>