<br>




  	<div data-ng-controller="PurposeDrivenController" ng-init = "last_watched();" > 

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
  	
  	<!-- <select ng-model="videoID" ng-options= "video.id as video.title for video in purposeVideos.Videos | orderBy:'title'"></select !-->
<div class="container" style="position:relative;">
		
<h4 class="well well-small bootCamp" align="center" id="well-c" > <center> 1. Choose a video and get inspired ! </center> </h4>	
			<span class="span11">
						
<table border="0"align ="center" cellpadding="11"cellspacing="11" >
<th width =30%> </th>
<th>  </th>


<tr>
<td width = 30%>

<select ng-show="purposeVideos.Videos[0].title!=null" ng-model="videoArray" 
ng-options="video.title for video in purposeVideos.Videos"></select>

<br><br>
<div ng-show="videoArray.unlocked">  
<button class="btn btn-inverse"  ng-click = "view_video_old(purposeVideos.Videos[videoArray.no].vlink,videoArray.no)">  Play  </button> 

</div>
<br><br>
{{ videoArray.description }}

</td>


<td width = 70%>

<div ng-show ="videoArray.image == null"> <IMG ng-src="img/purposedrivenPlaceholder/wait.png" width =50%> </div>
<IMG ng-src="{{ videoArray.image }}" >


		<div ng-show="purposeVideos.Videos[0].title==null">
		 <h3>More Features coming up soon!</h3>
		<IMG ng-src ="img/purposedrivenPlaceholder/wait.png" width =50%>
		</div>			
		


</td>

<td>

<!-- <div ng-hide="purposeVideosUnlocked.Unlocked[videoArray.no].s ">  Lock </div>	!-->
</td>
</tr>
</table>









</div>

<!--


<div class="container" style="position:relative;">
	<div class="row-fluid">
		<div class = "span12">

				<table border = '1' class = "span12"> 
					<tr>
						<td  ng-repeat = "video in purposeVideos.Videos" class = "span2" >
								 <IMG ng-src="{{ video.image }}" > 
						</td>
					</tr>			
						<tr >
							<td  ng-repeat = "video in purposeVideos.Videos" class = "span2" align = "middle">
									 <br> {{ video.description }}
							</td>
							
						</tr>

						<tr >
							<td  ng-repeat = "userVideo in purposeVideosUnlocked.Unlocked" >
								<center> <div ng-show="{{ userVideo.s }}">   {{ userVideo.s }}
								<button class="btn btn-inverse"  ng-click = "view_video(purposeVideos.Videos[userVideo.no].vlink,userVideo.no)">  Play  <!-- {{ userVideo.no }} </button> 
								 </div>
								 <div ng-hide="{{ userVideo.s }}"> {{ userVideo.s }}  Lock </div>
								<center>	 
							</td>
							
						</tr>

				</table>
			</center>
</div>
		</div>
	</div>
<div>

  	
<script>



</script>
!-->