<div data-ng-controller="PurposeDrivenController" ng-init = "get_videos(); get_videos_unlocked()" > 
<div class="container" style="position:relative;">
	<div class="row-fluid">
		<div class = "span12">
		<br><br>
				<table border = '0' align = 'center'>

					<tr>
						<td width =30%> <h3><center> {{purposeVideos.Videos[vno].title}} <center></h3>
						 <center> {{purposeVideos.Videos[vno].description}} <center>
						 <br><br>
						 <b>{{purposeVideos.Videos[vno].question}} <br> <br> </b>
						 
					
						 
						<form action="" onclick="enableButton2()" >
						<table cellspacing ="4"> 
							<tr><td> <input type="radio" name="rating" value="1"> I cannot Relate<br></td></tr>
							<tr><td> <input type="radio" name="rating" value="2"> Maybe a little<br></td></tr>
							<tr><td> <input type="radio" name="rating" value="3"> Somewhat like me<br></td></tr>
							<tr><td> <input type="radio" name="rating" value="4"> I like this<br></td></tr>
						<!-- value= "{{purposeVideosUnlocked.Unlocked[vno].v}}"; !-->	
						</table>
						</form>
						 
						 	 <center> <button id="nextVideo" class ="btn btn-primary" disabled ng-click = "nextVideo(vno,purposeVideos.Videos,purposeVideosUnlocked.Unlocked)"> Next  </button>  </center>
						 
						</td>
					

						<td >
							
						<center> <iframe width= 90% height= '420px' src="//www.youtube.com/embed/{{youtube[0]}}?rel=0" frameborder="0" allowfullscreen></iframe> </center>
							
						</td>
							
					</tr>
					
					
				</table>

				</div>

			

			</div>
		</div>
	</div>

<script>
        function enableButton2() {
            document.getElementById("nextVideo").disabled = false;
        }

        function getParam(){
        var myParam = location.search.split('xyz=')[1]
        	alert(myParam);
        }

        
</script>

