<div data-ng-controller="PurposeDrivenController" ng-init = "get_videos();"  > 
<div class="container" style="position:relative;">
	<div class="row-fluid">
		<div class = "span12">
		<br><br>
		
		<div ng-show ="!purposeVideos.Videos[vno].unlocked">
		 <!-- Insert redirect codes for non unlockers!-->
		</div>
		
		
		<div class = 'container'>
				<table border = '1' align = 'center' width ='1000'>

					<tr>
						<td width =25%> <h3><center> {{purposeVideos.Videos[vno].title}} <center></h3>
						 <center> {{purposeVideos.Videos[vno].description}} <center>
						 <br><br>
							Do this survey to proceed: <input type="checkbox" ng-model="value1"> <br/>	
							<br><br> * Refresh page if video is not loading 
						</td>
					

						<td>
							<!-- no cookie version for youtube, slower load but more stable !-->
						<center>
						<iframe width=90% height="420px" src="//www.youtube-nocookie.com/embed/{{youtube[0]}}" frameborder="0" allowfullscreen></iframe>
						</center>
							
						</td>
							
					</tr>
					<td colspan ='2' align ='center'>
						
							<div ng-show="value1">
								<br>
								
									<table cellspacing ="5" cellpadding ="5" border ='0'> 
									
										<tr>
											<td colspan ='5'>
											<center>
											<b> {{purposeVideos.Videos[vno].question}} </b>
											</center>
											</td>
										</tr>
										<tr>
										<form>
										<td> 
											
								
										  <input
										  type="radio" name="answer" ng-model="purposeVideos.Videos[vno].feedback" value ="1" 
										  onclick="enableButton2()"> This is very like me.<br>	
										  
										  <input
										  type="radio" name="answer" ng-model="purposeVideos.Videos[vno].feedback" " value ="2" 
										  onclick="enableButton2()"> This is somewhat like me. <br>	
										  
										  <input
										  type="radio" name="answer" ng-model="purposeVideos.Videos[vno].feedback" value ="3" 
										  onclick="enableButton2()"> Maybe I am a little like this.<br>	
										  
										  <input
										  type="radio" name="answer" ng-model="purposeVideos.Videos[vno].feedback" value ="4" 
										  onclick="enableButton2()"> I'm not sure if this is like me.<br>	
										  
										  <input
										  type="radio" name="answer" ng-model="purposeVideos.Videos[vno].feedback" value ="5" 
										  onclick="enableButton2()"> This doesn't sound much like me.<br>
										  
										  <input
										  type="radio" name="answer" ng-model="purposeVideos.Videos[vno].feedback" value ="6" 
										  onclick="enableButton2()"> This is totally not me			<br>							  
										
										
										

										  
										  
										  
											<center> <button id="nextVideo" class ="btn btn-primary" disabled ng-click = "nextVideo(vno,purposeVideos.Videos[vno].feedback)"> Next  </button>  
											 <br>
											<font size="2" color="red" ng-show="value1">Please do the survey to proceed.</font>
											  </center> 	

											  
										  </div>
										 </td>
										
										  </form>
										</tr>
										<tr>
										<td colspan='5'>
										 

											
											
										 </td>
										</tr>
												
											<!-- value= "{{purposeVideosUnlocked.Unlocked[vno].v}}"; !-->	
									</table>
								
							</div> 
		</div>
		</table>
	</div>

	
	
								<br>
								<table border = '0'>
								<td ng-repeat ="vids in purposeVideos.Videos" width =10%>
								
									<div ng-show ="vids.unlocked"> 
									
									
											<center> <IMG ng-src="{{vids.thumbnail}}" width =70%
											ng-click = "view_video(vids.vlink,vids.no)"></center>			
									</div>	

									<div ng-hide ="vids.unlocked"> 
										
											<center> <IMG ng-src="img/purposedrivenPlaceholder/thumb/lock.jpg" width =50%>
											<br> </center>
											
									</div>									

								</td>
								<tr>
									<td ng-repeat ="vids in purposeVideos.Videos" width =10%>
									<div ng-show ="vids.unlocked"> 	
											<center> {{vids.title}} </center>
									</div>	
									<div ng-hide ="vids.unlocked"> 	
											<center> Locked </center>
									</div>									
									
									
								</tr>
								<tr>
									<td ng-repeat ="vids in purposeVideos.Videos" width =10%>
										<div ng-show ="vids.unlocked"> 	
											<center><IMG ng-src="img/purposedrivenPlaceholder/arrow.jpg" width =25%></center>
									</div>	
								</tr>
								</table>
		
	
	
	
	
</div>
</div>
</div>
<script>
        function enableButton2() {
            document.getElementById("nextVideo").disabled = false;
        }

        function getParam(){
        var myParam = location.search.split('xyz=')[1]
        	alert(myParam);
        }

        
</script>

