<style>
#myImage {
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
}

/* or */

#wrapper {
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
    background-color: #000;
}
</style>
<div data-ng-controller="PurposeDrivenController" ng-init = "get_videos();"  > 
<div class="container" style="position:relative;">
	<div class="row-fluid">
		<div class = "span12">
		<br><br>
		
		<div ng-show ="!purposeVideos.Videos[vno].unlocked">
		 <!-- Insert redirect codes for non unlockers!-->
		</div>
		
		
		<div class = 'container'>
				<table border = '1' align = 'center' class = 'table table-bordered' width ='1000'>
			
					<tr>
						<td width =25%> <h3><center> {{purposeVideos.Videos[vno].title}} <center></h3>

						 <br>
						 <table cellpadding ='5' cellspacing ='5' align ='center'>
						 <tr><td>
						 <button class ="btn btn-primary" ng-model="purposeVideos.Videos[vno].selected" value ="1" 
						 ng-click = "nextVideo(vno,1)" style="width:200px" > This is totally me. </button> <br>
						 </td>
						 <td><label ng-show="purposeVideos.Videos[vno].selected==1"><b> O </b></label></td>

						 
						 </tr> <tr><td>
						 <button class ="btn btn-info" ng-model="purposeVideos.Videos[vno].selected" value ="2"
						ng-click = "nextVideo(vno,2)" style="width:200px" > I think this is me. </button> <br>
						 <td><label ng-show="purposeVideos.Videos[vno].selected==2"><b> O </b></label></td>
						</td></tr> <tr><td>
						

						 <button class ="btn btn-success" ng-model="purposeVideos.Videos[vno].selected" value ="3" 
						 ng-click = "nextVideo(vno,3)" style="width:200px" > Meh.. Maybe? </button> <br>
						 <td><label ng-show="purposeVideos.Videos[vno].selected==3"><b> O </b></label></td>
						 </td></tr> <tr><td>
						 
						 <button class ="btn btn-warning" ng-model="purposeVideos.Videos[vno].selected" value ="4"
						ng-click = "nextVideo(vno,4)" style="width:200px" > I don't know .. </button> <br>
						 <td><label ng-show="purposeVideos.Videos[vno].selected==4"><b> O </b></label></td>
						</td></tr> <tr><td>
						
						 <button class ="btn btn-danger" ng-model="purposeVideos.Videos[vno].selected" value ="5" 
						 ng-click = "nextVideo(vno,5)" style="width:200px"> I doubt this is me. </button> <br>
						 <td><label ng-show="purposeVideos.Videos[vno].selected==5"><b> O </b></label></td>
						 
						 
						 </td></tr> 
						
						
						</table>
					

						<td>
							<!-- no cookie version for youtube, slower load but more stable !-->
						<center>
						<iframe width=90% height="420px" src="//www.youtube-nocookie.com/embed/{{youtube[0]}}" frameborder="0" allowfullscreen></iframe>
						</center>
							
						</td>
							
					</tr>
				
			</table>
								
		</div> 
		</div>
		</div>

	
	
								<br>
								<table border = '0' class = "table table-hovered">
								<td ng-repeat ="vids in purposeVideos.Videos" width =10%>
								
									<div ng-show ="vids.unlocked"> 
									
									
											<center> <IMG ng-src="{{vids.thumbnail}}" width =70%
											ng-click = "view_video(vids.vlink,vids.no)" style="cursor: hand;cursor: pointer;" > </center>			
									</div>	

									<div ng-hide ="vids.unlocked"> 
										
											<center> <IMG ng-src="{{vids.thumbnail}}" width =70% id="myImage"> </center>
											
									</div>									

								</td>
								<tr>
									<td ng-repeat ="vids in purposeVideos.Videos" width =10%>
									<div ng-show ="vids.unlocked"> 	
											<center> {{vids.title}} </center>
									</div>	
									<div ng-hide ="vids.unlocked"> 	
											<center> Locked </center>
									</div>									
									
									
								</tr>
								<tr>
									<td ng-repeat ="vids in purposeVideos.Videos" width =10%>
										<div ng-show ="vids.unlocked"> 	
											<center><IMG ng-src="img/purposedrivenPlaceholder/arrow.jpg" width =25%></center>
									</div>	
								</tr>
								</table>
		
	
	
	
	
</div>
</div>
</div>
<script>

        function getParam(){
        var myParam = location.search.split('xyz=')[1]
        	alert(myParam);
        }

        
</script>

