</br>
</br>
<div ng-controller="SchoolController" class="container" id="registration" style="position:relative;">

        Select an option to search by:
        <input type="radio" name="searchType" value="school" ng-model="searchOption" ng-change="onRadioChange()"/>&nbsp;Search by School &nbsp;&nbsp;&nbsp; 
        <input type="radio" name="searchType" value="event" ng-model="searchOption" ng-change="onRadioChange()"/>&nbsp;Search by Event
        
        <!-- <select ng-model="searchDD">
          <option value="none"></option>
          <option value="school">Search by School</option>
          <option value="event">Search by Event</option>
         </select> -->
        <br/><br/>
	
        <span ng-show="searchOption=='school'" >School type: <select ng-model="filter_schooltype" ng-change="get_marker()" ng-options="schooltype for schooltype in supported_schooltypes | orderBy:'schooltype'"></select></span>       
        <span ng-show="searchOption=='event'">Event: <select ng-model="filter_event"  ng-init="fetch_event()" ng-change="get_marker_events(filter_event)" ng-options="event.id as event.name for event in events"></select></span>
	
        <div class="google-map" 
                center="position.coords"
                zoom="zoomProperty" 
                markers="markers"
                latitude="clickedLatitudeProperty"
                longitude="clickedLongitudeProperty"
                mark-click="false"
                draggable="true"
                fit="false"
                events="eventsProperty"
                style="height: 700px; width: 100%">
        </div>
<div>
