</br>
</br>
<div ng-controller="SchoolController" ng-init="get_schools();get_current_player_schools();" class="container" id="registration" style="position:relative;">
	<center><h1>School Registration Page</h1><br>
    Please select your respective school(s) as well as the year that you started studying in that school<br>
    Please leave the fields empty if not applicable<br>
    <br>
    <br>

	<div class="row-fluid">

        Secondary: <br> 
        <select ng-model="secondaryID" ng-options="secondary.id as secondary.name for secondary in schools.Secondary | orderBy:'name'"></select>

        <select ng-model="secondary_start_year" ng-options="year for year in [2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015]"></select>

        
        <div ng-show="secondaryID && secondary_start_year">
            <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary" ng-click="add_or_update_school(secondaryID, secondary_start_year);">Save</button>
        </div>

        <br>

        Pre-University: <br> 
        <select ng-model="tertiaryID" ng-options="tertiary.id as tertiary.name for tertiary in schools.Tertiary | orderBy:'name'"></select>

        <select ng-model="tertiary_start_year" ng-options="year for year in [2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015]"></select>

        <div ng-show="tertiaryID && tertiary_start_year">
            <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary" ng-click="add_or_update_school(tertiaryID, tertiary_start_year);">Save</button>
        </div>

        
        <br>

        University: <br> 
        <select ng-model="universityID" ng-options="university.id as university.name for university in schools.University | orderBy:'name'"></select>

        <select ng-model="university_start_year" ng-options="year for year in [2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015]"></select>

        <div ng-show="universityID && university_start_year">
            <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary" ng-click="add_or_update_school(universityID, university_start_year);">Save</button>
        </div>
        <br><br><br>
        Can't find your school? You can request for additional schools to be added on the <a href="#/feedback">feedback page</a>. 

<!-- Ideally, this should check if the database has successfully captured the school data and return error message(s) if unsuccessful--> 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">School Registration Success</h3>
  </div>
  <div class="modal-body">
    <p>Thank you for registering your school!</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<!-- end modal -->

	</div>
<div>
