<style>
   	table{
		table-layout:fixed;
		width:100%;
	}
    .table td, .table th {
        border: none;
        width: 110px;

    }
    .table tbody tr:hover td,
    .table tbody tr:hover th {
        background-color: #eeeeee;
    }
    
    .tabspacing{
        width:25%;
	}

    
    .tab-content {
      clear: none;
      margin-bottom:0px;
    }

    li.bulletless {
    	list-style-type: none;
    }

    tbody{
        overflow:auto;  
    }

    li.overspill{
    	overflow: hidden;
		text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;
    }
	
	
	<!--All Rankings : Rankings-->
	th.Group_Member, td.Group_Member						{width:10%;}
	
</style>

</br>
<div class="container" id="grpJoinTourn" style="position:relative" ng-controller="GenshyftTournamentController">

	<div class="row-fluid"  ng-init="tournamentInit(); fetch_player();">
		<div class="span12">

			<div class="span4" style="overflow:auto;" width="100%">
				<div class="row-fluid">
					<div class="span12 bootCamp" id="heading">Tournament Details</div>
				</div>
				<div class="row-fluid">
					<div class="span12 well well-small" style="height:145px;overflow:auto;" >
						<b>Tournament :</b> {{tournament.shortTitle}} </br>
						<b>Status :</b> {{tournament.status}}</br>
						<b>No. of Registered Players :</b> {{tournament.registeredPlayerIDs.length}}</b></br>
						<b>Number of Rounds:</b> {{tournament.rounds.length}}</br>
						</br>
					</div>
				</div>
				
			</div>
			
			<div class="span8" style="overflow:auto;" width="100%">
				<div class="row-fluid ">
					<div class="span12 bootCamp" id="heading">Rounds</div>
				</div>

				<div class="row-fluid">
					<div class="span12 well well-small" style="height:145px;overflow:auto;" ng-controller="TournamentController">
						<ol>
	    					<li ng-repeat="round in tournament.rounds">
	    					<b>{{round.description}}</b><br>
	    					Number of problems : <b>{{round.problemIDs.length}}</b><br>
								<div ng-controller="CountdownController" ng-init="start_timer(get_seconds_to_start(round.currentHeatDetails.startTime, round.currentHeatDetails.currentTime))">
									<font color="blue" ng-show="counter>0">Round starting in <b> {{counter}} seconds </b> </font><font color="red" ng-show="counter==0"><b>Round has started, Let's </b></font><font ng-show="counter<0"><b>Round has not started or is over.</b> </font>
									<button class="btn btn-primary" type="button" ng-show="counter==0" ng-click="create_tournament_round_game_new(round.roundID, isInGrp, tournament.isGroup)"><i class="icon-play icon-white"></i> Play </button>
									<br ng-show="counter==0">
									<button class="btn btn-inverse" type="button" ng-show="counter==0" ng-click="round_end_manage(round.currentHeatDetails.heatID)">Go to Ranking <i class="icon-chevron-right icon-white"></i></button>
									</br>
									</br>
								</div>
							</li>
						</ol>		
					</div>
				</div>
							
			</div>			
		</div>
	</div>

	<div class="row-fluid">
		<div class"span12">
			<!-- Player profile-->
			<div class="span4" id="unregisteredUsers" style="overflow:auto;" width="100%">
				<div class="row-fluid">
					<div class="span12 bootCamp" id="heading"> 
						<div ng-show="tournament.isGroup">
							Registered Users Without Groups
						</div>
						<div ng-hide="tournament.isGroup">
							Registered Users
						</div>		
					</div>
				</div>	
				<div class="row-fluid">
					<div class="span12 well well-small" style="overflow:auto; ">
						<li class="bulletless" ng-repeat="unregisteredPlayer in registeredPlayersArray track by $index">
							{{unregisteredPlayer.nickname}}
						</li>	
					</div>
				</div>
			</div> 	

			<div class="span8" id="registeredUserWithTeam" style="overflow:auto;" width="100%" ng-show="tournament.isGroup">
				<div class="row-fluid">
					<div class="span12 bootCamp" id="heading">Registered Groups</div>
				</div>
				
				<div class="row-fluid" ng-init="get_registeredPlayers()" >
					<div class="row-fluid" >
						<div class="span12 well well-small" style="overflow:auto;" >
							<div >
								<!--<table class="table table-hover" ng-repeat="r in rowNum track by $index">-->
								<table class="table table-hover">
									<tr>
										<td  ng-repeat="group in numGrp track by $index">									<!--<span ng-if="$index<5">-->
												<b>Group {{$index+1}}</b>
												
												<li class="bulletless overspill" ng-repeat="player in group track by $index">
													<font ng-if="$index != 0">{{player.nickname}}
													</font>
												</li>
											<!--</span>-->
										</td>

									</tr>
									<tr>
										<td ng-repeat="group in numGrp track by $index">
											<!-- 1. To make button dynamic, lock buttons after player has joined -->
											<!-- 2. To update the teams with new player after clicking join, page has to be refreshed to show updated team list -->
											<!--<button class="btn btn-primary" ng-click="join_grp(currentPlayerID, tournament.tournamentID, $index+1)" ng-show="currentUserGrping == 0" style=""><i class="icon-plus icon-white"></i> Join</button>-->
											<button class="btn btn-primary" ng-click="join_grping(tournament.currentPlayerID, tournament.tournamentID, $index+1,group,tournament.maxPlayersPerGroup)" ng-show="currentUserGrping == 0" style=""><i class="icon-plus icon-white"></i> Join</button>
											<button class="btn btn-danger" ng-click="join_grp(currentPlayerID, tournament.tournamentID, 0)" ng-show="currentUserGrping == $index+1" style=""><i class="icon-remove icon-white"></i> Leave</button>
										</td>
									</tr>
									</br>
								</table>
							</div>
						</div>
					</div>				  
				</div>
			</div>				
		</div>
	</div>


</div>	