<style>
   
    .table td, .table th {
        border: none;
    }
    .table tbody tr:hover td,
    .table tbody tr:hover th {
        background-color: #DCD9CD;
    }
    
    .tabspacing{
        width:25%;
	}

    
    .tab-content {
      clear: none;
      margin-bottom:0px;
    }

    li.bulletless {
    	list-style-type: none;
    }

    tbody{
        overflow:auto;  
    }
	
	
	<!--All Rankings : Rankings-->
	th.Group_Member, td.Group_Member						{width:10%;}
	
</style>

</br>
<div class="container" id="grpJoinTourn" style="position:relative" ng-controller="GenshyftTournamentController">

	<div class="row-fluid"  ng-init="tournamentInit();">
		<div class="span12">

			<div class="span4" style="overflow:auto;" width="100%">
				<div class="row-fluid">
					<div class="span12 bootCamp" id="heading">Tournament Details</div>
				</div>
				<div class="row-fluid">
					<div class="span12 well well-small" style="height:145px;overflow:auto;" >
						<b>Tournament :</b> {{tournament.shortTitle}} </br>
						<b>Status :</b> {{tournament.status}}</br>
						<b>No. of Registered Players :</b> {{tournament.registeredPlayers.length}}</b></br>
						<b>Number of Rounds:</b> {{tournament.rounds.length}}</br>
						</br>
					</div>
				</div>
				
			</div>
			
			<div class="span8" style="overflow:auto;" width="100%">
				<div class="row-fluid ">
					<div class="span12 bootCamp" id="heading">Rounds</div>
				</div>

				<div class="row-fluid">
					<div class="span12 well well-small" style="height:145px;overflow:auto;" ng-controller="TournamentController">
						<ol>
	    					<li ng-repeat="round in tournament.rounds">
	    					<b>{{round.description}}</b><br>
	    					Number of problems : <b>{{round.problemIDs.length}}</b><br>
								<div ng-controller="CountdownController" ng-init="start_timer(get_seconds_to_start(round.currentHeatDetails.startTime, round.currentHeatDetails.currentTime))">
									<font ng-show="counter>0">Round starting in <b> {{counter}} seconds </b> </font><font ng-show="counter==0"><b>Round have started, Let's </b></font><font ng-show="counter<0"><b>Round have not started</b> </font>
									<button class="btn btn-primary" type="button" ng-show="counter==0" ng-click="create_tournament_round_game_new(round.roundID, isInGrp, tournament.tournType)">Play </button>
									</br>
									</br>
								</div>
							</li>
						</ol>		
					</div>
				</div>			
			</div>			
		</div>
	</div>

	<div class="row-fluid">
		<div class"span12">
			<!-- Player profile-->
			<div class="span4" id="unregisteredUsers" style="overflow:auto;" width="100%">
				<div class="row-fluid">
					<div class="span12 bootCamp" id="heading"> 
						<div ng-hide="tournament.tournType=='Individual'">
							Registered Users Without Groups
						</div>
						<div ng-hide="tournament.tournType=='Group'">
							Registered Users
						</div>		
					</div>
				</div>	
				<div class="row-fluid">
					<div class="span12 well well-small" style="overflow:auto;">
						<li class="bulletless" ng-repeat="unregisteredPlayer in registeredPlayersArray track by $index">
							{{registeredPlayersArray[$index]}}
						</li>	
					</div>
				</div>
			</div> 	

			<div class="span8" id="registeredUserWithTeam" style="overflow:auto;" width="100%" ng-hide="tournament.tournType=='Individual'">
				<div class="row-fluid">
					<div class="span12 bootCamp" id="heading">Registered Groups</div>
				</div>
				
				<div class="row-fluid" ng-init="get_registeredPlayers()" >
					<div class="row-fluid" >
						<div class="span12 well well-small" >
							<div >
								<table class="table table-hover">

									<tr >
										<td ng-repeat="group in numGrp track by $index">										
											<b>Group {{$index+1}}</b>
											
											<li class="bulletless" ng-repeat="player in group track by $index">
												<font ng-if="$index != 0">{{player}}
												</font>
											</li>
										
										</td>

									</tr>
									<tr>
										<td ng-repeat="group in numGrp track by $index">
											<!-- 1. To make button dynamic, lock buttons after player has joined -->
											<!-- 2. To update the teams with new player after clicking join, page has to be refreshed to show updated team list -->

											<button class="btn btn-primary" ng-click="join_grp(tournament.currentPlayerID, tournament.tournamentID, $index+1)" ng-show="currentUserGrping == 0" style="">Join</button>
											<button class="btn btn-danger" ng-click="join_grp(tournament.currentPlayerID, tournament.tournamentID, 0)" ng-show="currentUserGrping == $index+1" style="">Leave Team</button>
										</td>
									</tr>
									</br>
								</table>
							</div>
						</div>
					</div>				  
				</div>
			</div>				
		</div>
	</div>


</div>	