</br>
</br>
<div ng-controller="TournamentController" ng-init="fetch_tournaments()" class="container" id="tournament" style="position:relative;">

	
	<div class="row-fluid">

		
		
				<center><h2>Open Tournaments</h2></center>
			    <ol>
				
				
				<table  class = 'table table-bordered'>
					
			      <!-- <li ng-repeat="tournament in tournaments | filter: { status: 'open' }"> !-->
				 <th> Title and Description</th>
				 <th> Currently Registered</th>
				 <th> Insert Password</th>
				 <th> Register</th>
				 <tr ng-repeat="tournament in tournaments | filter: { status: 'open' }">
				 
			        <td width = 60%>  {{tournament.shortTitle}},{{tournament.description}} </td>
			        <td> {{tournament.registeredPlayerIDs.length}} registered. </td>
					<td><input type="text" ng-model="tournamentPassword"> </td>
			        <td> <input type="submit" value="Register" ng-controller="GenshyftTournamentController" ng-click="register_for_tournament_new(tournament.tournamentID, tournamentPassword)"> </td><br>
			     
			    </tr>

				</table>
	
	
	</div>
<div>