</br>
</br>
<div class="container" id="tournament" style="position:relative;">
	<div class="row-fluid">


					<p>We welcome you to watch a few of these videos to learn more about SingPath. 
					</p>
    <ul>
      <li>Coming soon</li>
    </ul>


    <p> If you enjoy reading research papers, and really, who doesn't? You can download our latest research papers from the SMU website.
      <p>
   
<ul>
  <li>
    Boesch, C., & Boesch, S. (2014). <a href="http://ink.library.smu.edu.sg/sis_research/2047/">Enabling National Software Development Competitions to Identify and Enhance Student Mentor Capability in Singapore.</a> Ireland International Conference on Education (IICE 2014).
  </li>
  <li>
Boesch, C., & Steppe, K. (2014). <a href="http://ink.library.smu.edu.sg/sis_research/2046/">Automated Mentor Assignment in Blended Learning Environments.</a> 27th Conference on Software Engineering Education and Training (CSEE&T 2014)
  </li>
  <li>
Boesch, C., & Boesch, S. (2013). <a href="http://ink.library.smu.edu.sg/sis_research/2045">Adaptive Gameplay for Programming Practice.</a> 5th Annual International Conference on Computer Science Education: Innovation and Technology (CSEIT 2013).
  </li>
  <li>
Boesch, C., & Boesch, S. (2013). <a href="http://ink.library.smu.edu.sg/sis_research/2045/">Creating Adaptive Quests to Support Personalized Learning Experiences When Learning Software Languages</a>, 63rd Annual Conference International Council for Education (ICEM 2013).
   </li>
  <li>
    Boesch, C., & Boesch, S. (2012). <a href="http://ink.library.smu.edu.sg/sis_research/1707/">Tournament-based Teaching.</a> 4th Annual International Conference on Computer Science Education: Innovation and Technology (CSEIT 2012).
   </li>
  <li>
    Boesch, C., & Steppe, K. (2011). <a href="http://ink.library.smu.edu.sg/sis_research/1448/">Case Study on Using a Programming Practice Tool for Evaluating University Applicants.</a> 3rd Annual International Conference on Computer Science Education: Innovation and Technology (CSEIT 2011).
  </li>
</ul>
    
	</div>
<div>