<style>
  .bootCamp{
    color: #ffffff;
    font-size: 22px;
    border-bottom-color: #6b808d;
    border-radius: 6px 6px 6px 6px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.7);
    margin-top: 4px;
    margin-bottom: 20px;
    padding: 8px 8px;
  }
</style>
</br>
</br>
<div class="container" id="tournament" style="position:center;">
  <div class="row-fluid">
  

 
 
 
    <div class="span12 well">
	 <h3 class="well well-small bootCamp" align="center">- Introductory Videos -</h3>

	 
	 <table class = "table table-hover" border = '3'>
	 <tr>
		 <td> <center> <h4>Purpose Driven Video  </h4> </center>
				<video width="600" height="480" controls="controls" preload="metadata">
				  <source src="video/purposevideo.mp4" type="video/mp4">
				  </object> 
				</video>
			
		</td>
	</tr>
	 <tr>
		 <td> <center><h4> Mastery Based Coaching </h4> </center>
				<video width="600" height="480" controls="controls" preload="metadata">
				  <source src="video/masteryvideo.mp4" type="video/mp4">
				  </object> 
				</video>
			
		</td>
	</tr>
	 <tr>
		 <td> <center><h4> Create a Tournament Game </h4> </center>
				<video width="600" height="480" controls="controls" preload="metadata">
				  <source src="video/Create_Tournament_Video.mp4" type="video/mp4">
				  </object> 
				</video>
			
		</td>
	</tr>
	 <tr>
		 <td> <center><h4> Manage a created Tournament </h4> </center>
				<video width="600" height="480" controls="controls" >
				  <source src="video/Manage_Tournament_Video.mp4" type="video/mp4">
				  </object> 
				</video>
			
		</td>
	</tr>	
	</table>



	 
      <h3 class="well well-small bootCamp" align="center">- Research Papers -</h3>
        <div class="container">  
          <div class="span11" style="position:center;">
            <div class="success">
              If you enjoy reading research papers, and really, who doesn't? You can download our latest research papers from the Singapore Management University website.
          
            </div>
          </div>

            <div class="span10">
              Boesch, C., & Boesch, S. (2014). <a href="http://ink.library.smu.edu.sg/sis_research/2047/">Enabling National Software Development Competitions to Identify and Enhance Student Mentor Capability in Singapore.</a> Ireland International Conference on Education (IICE 2014).
            </div>
            <br>
            <br>
            <div class="span10">
              Boesch, C., & Steppe, K. (2014). <a href="http://ink.library.smu.edu.sg/sis_research/2046/">Automated Mentor Assignment in Blended Learning Environments.</a> 27th Conference on Software Engineering Education and Training (CSEE&T 2014)
            </div>
            <br>
            <br>
            <div class="span10">
              Boesch, C., & Boesch, S. (2013). <a href="http://ink.library.smu.edu.sg/sis_research/2045">Adaptive Gameplay for Programming Practice.</a> 5th Annual International Conference on Computer Science Education: Innovation and Technology (CSEIT 2013).
            </div>
            <br>
            <br>
            <div class="span10">
              Boesch, C., & Boesch, S. (2013). <a href="http://ink.library.smu.edu.sg/sis_research/2045/">Creating Adaptive Quests to Support Personalized Learning Experiences When Learning Software Languages</a>, 63rd Annual Conference International Council for Education (ICEM 2013).
            </div>
            <br>
            <br>
            <div class="span10">
              Boesch, C., & Boesch, S. (2012). <a href="http://ink.library.smu.edu.sg/sis_research/1707/">Tournament-based Teaching.</a> 4th Annual International Conference on Computer Science Education: Innovation and Technology (CSEIT 2012).
            </div>
            <br>
            <br>
            <div class="span10">
              Boesch, C., & Steppe, K. (2011). <a href="http://ink.library.smu.edu.sg/sis_research/1448/">Case Study on Using a Programming Practice Tool for Evaluating University Applicants.</a> 3rd Annual International Conference on Computer Science Education: Innovation and Technology (CSEIT 2011).

        </div>
    </div>
  </div>
</div>