<p><p>
<style>
/* Theme for box heading */
.bootCamp{
    color: #ffffff;
    font-size: 16px;
    border-bottom-color: #6b808d;
    border-radius: 6px 6px 6px 6px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.7);
    margin-top: 4px;
    margin-bottom: 8px;
    padding: 8px 8px;
}
.bootCampSmall{
    color: #ffffff;
    font-size: 12px;
    border-bottom-color: #6b808d;
    border-radius: 6px 6px 6px 6px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.7);
    margin-top: 4px;
    margin-bottom: 8px;
    padding: 5px 5px;
}


.radio{
  text-align: center;	
}

H5 {FONT-SIZE: 11pt;}

#gradient1{  
  #gradient > .vertical(@black, @white);  
}

#radButton{
  display:inline;
}

#pathImg label {
  display: inline-block;
  cursor: pointer;
}

#paths {
  display: inline-block;
  cursor: pointer;
}

#pathImg{
  width:100px;
  height:100px;
}

#smallPathImg{
  width:60px;
  height:60px;
}

.selected {
  background-color: #002369;
}

#paths input {
  display: inline-block;
  cursor: pointer;
}

input:hover{
  background-color: #002369;
}

#paths input img {
  padding: 3px;
}

<!--small-->

#smallDifficulty{
  height: 30px;
  width: 100px;
  border-radius: 3px;
}

#largeDifficulty{
  height: 40px;
  width: 170px;
  border-radius: 3px;
}

li{ list-style:none; }

.tabspacing{
  width:50%;
  text-align:center;
}

#navlist li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}
.divfloatleft
{
float:left;
}

</style>




		
		<div class ="container" ng-controller="yMBCoachingController" ng-init="update_path_details();get_player_progress();list();getCoaches();getCurrentMastery();">
		
		
		<div ng-show="mastery.coach==null">
		 <h3>More Features coming up soon!</h3>
		<IMG ng-src ="img/purposedrivenPlaceholder/wait.png" width =50%>
		</div> 
		
		
		
		<div ng-show = "mastercache">
		<h4 class="well well-small bootCamp" align="center" id="well-c" >1. Player Progress</h4>	
			<span class="span11">
		<table>
		<tr class = 'span11'ng-repeat ="coaches in allCoachesData.coachesData|filter:currentCoach" >
			<td class="span3"> <IMG class ="Span3" ng-src=" {{coaches.image}}" width ='200'> </td> 
			 <td class="span3">


				<div id = "audioDiv">	
					<audio src="audio/{{coaches.coach}}/greeting.mp3" autoplay controls></audio> <br> <br>
				</div>
			 
			 	  <button id="resume" class="btn btn-info" ng-click = "resumePracticeGame(currentPathId,currentPathName,5,coaches.coach)">Start Practising </button> <br>  <br>
			 <button id="reset" class="btn btn-warning" ng-click ="resetMentor()">  New Mentor </button> 
			 <button id="reset" class="btn btn-warning" ng-click ="resetPath()">  New Path </button> 
			<br> <br> Current Mentor :  {{coaches.coach}}
			<br> Current Path :{{currentPathName}}
			 </td>
			 <td class = "span4"> 
				{{coaches.audiotext.greeting}}

			</td> 
		</tr>
		</table>
		<br>	
		<br>	
			
			
		</div> 
		</span>
	

		
	<div ng-show ="masterselect">
						
	
			<span class="span11">
			<center><table border = '1'>
			<td ng-repeat ="coaches in allCoachesData.coachesData" align ='center'>
			
			<IMG ng-src=" {{coaches.image}}" width ='150'> <br>
			<input type ="radio" name = "coachSelect" ng-model ="$parent.currentCoach" value ="{{coaches.coach}}"> 

			<b><br>{{coaches.coach}}</b> <br><br> {{coaches.desc}}
			<br>
			</td>
			</table>
			</span> <br>
	</center>
 </div> 
		     

<div class="row-fluid">
				<div class="span12">

	<div class="modal fade" id="levelBlock" style="display:none">    		
		<div class="modal-body" style="color:black">
			Please clear previous level problems to unlock this level!
		</div>
		<div class="modal-footer">
			<a href="#" data-dismiss="modal"><button name="gotit" class="btn btn-primary" ng-click='hideModal()'>Back</button></a>
		</div>
	</div>
</div>
</div>


<script>
	$("#myCarousel")
		.appendTo("#des");

	$("#myCarouselSmall")
		.appendTo("#des");
</script>


<!--  This portion deals with responsive. !-->





 <div ng-show ="masterpath"> <!-- to check existence of isTrue !-->
 <h4 class="well well-small bootCamp" align="center" id="well-c" >2. Select Your path!</h4>
	<div class ="container">
	
		<div class="tabbable" >
		  <ul class="nav nav-tabs">

			<li class="tabspacing">
			  <a data-target="#practice" data-toggle="tab">Click to here open path menu</a>
			</li>
			<li class="tabspacing">
			  <a data-target="#hidepath" data-toggle="tab">Hide</a>
			</li>
 
		  </ul>
		  <div class="tab-content">
	
			<div class="tab-pane" id="practice">
			  <div width="400px"style="width:98.7%; height:30px">
				<table class="table table-condensed">
					<tr>
						<th class="name">Path Name</th>
						<th class="myprogress">Progress</th>
						<th class="continue">Take the leap</th>
					</tr>                                   
				</table> 
				</div>
				<div style="height:270px;overflow-y:auto;overflow-x:hidden" ng-model="filter">
					<table class="table table-hover">
						<tr ng-repeat="path in player_progress.paths" ng-init="count(0);">	   
							<td class="name">{{path.name}} :</td>
							<td class="myprogress">{{path.solvedProblems}}/{{path.problemsInPath}}
								<div class="progress progress-success">
								
									<div class="bar" style="width:{{count = (path.solvedProblems/path.problemsInPath)*100 |number:0}}%"></div>
								</div>
							</td>
							<td class="continue">
								<button id="resume" class="btn btn-info" ng-click = "resetLanguage(path.id,path.name)">Master it Now </button>
								
							</td>                                 
						</tr>									 
					</table>				
				</div>
			</div>
			<div class="tab-pane" id="hidepath">
			</div>
			
		</div>
		
	</div>
	</div>
	</div>
	</div>
