<!DOCTYPE html>
<html ng-app="myApp" lang="en">  
  <head>    
    <meta charset="utf-8">    
    <title>SingPath - The Most Fun Way to Practice Software
    </title>      
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> 
    <meta name="description" content="">    
    <meta name="author" content="">

    <style>
    .mouseover:hover{
      cursor: pointer;
      cursor: hand;
    }
    </style>    
    
    <!-- Le styles -->
    <link href="assets/css/app.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="assets/css/font-awesome.css">

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">  
  
    <script type="text/javascript">
    //Jainrain login code
    (function() {
        if (typeof window.janrain !== 'object') window.janrain = {};
        if (typeof window.janrain.settings !== 'object') window.janrain.settings = {};
        //This url has to be on app engine or localhost running SingPath
        auth_url = "http://"+document.location.host+"/rpx.php";
        //This is where you want the user redirected back to. 
        console.log("Current location for login redirect "+document.location.href);
        //Come back to the current page after login. 
        //redirect_url = document.location.href;
        redirect_url = "http://"+document.location.host+"/genshyft/index.html#/profile";
        
        janrain.settings.tokenUrl = auth_url+'?target='+redirect_url;

        //Original code example.
        //janrain.settings.tokenUrl = 'http://www.singpath.com/rpx.php?target=http://www.singpath.com/fyp/app/play_game_demo.html';
            
        function isReady() { janrain.ready = true; };
        if (document.addEventListener) {
          document.addEventListener("DOMContentLoaded", isReady, false);
        } else {
          window.attachEvent('onload', isReady);
        }

        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.id = 'janrainAuthWidget';

        if (document.location.protocol === 'https:') {
          e.src = 'https://rpxnow.com/js/lib/singpath/engage.js';
        } else {
          e.src = 'http://widget-cdn.rpxnow.com/js/lib/singpath/engage.js';
        }

        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(e, s);
    })();
    </script>
  
  </head>  

  <body ng-controller="PlayerController" ng-click="log_event($event)" ng-init="list()">    
    <!-- NAVBAR
        ================================================== --> 
    <div class="container">
      <ul class="nav nav-pills pull-right" align="right">
        <li ng-show="player.nickname"><a href="#profile"><img ng-src="{{player.gravatar}}"; width="30"; height="30";/>&nbsp;&nbsp;<span ng-bind="player.nickname"></span><span ng-bind="secretAgent"></span></a></li>
        <li><a ng-show="!player.nickname" class="janrainEngage" href="#"><button class="btn btn-primary" ng-click='login()'>Login</button></a></li>    
        <li><a ng-show="player.nickname" ng-click='logout()' href="#"><button class="btn btn-danger" ng-click='logout()'>Log Out</button></a></li>     
      </ul>
    </div>  
    <br>
    <div class="navbar-wrapper">      
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->      
      <div class="container">       
  
        <div class="navbar navbar-inverse">          
          <div class="navbar-inner">            
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->            
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">              
              <span class="icon-bar">
              </span>              
              <span class="icon-bar">
              </span>              
              <span class="icon-bar">
              </span>            
            </a>            
            <a class="brand" href="#home">SingPath</a>            
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->            
            <div class="nav-collapse collapse">              
              <ul class="nav pull-right" id="myTab">  
              <li>
                <a class="mouseover" type="button" ng-click="firstLoad(mobile_paths[0].path_id)">Practice</a>
              </li>
              <li >
                <a class="mouseover" type="button" ng-click="checkQuestLogin()">Quests</a>
              </li>

              <li>
                <a class="mouseover" type="button" ng-click="checkMasteryLogin()">Mastery</a>
              </li>
              <li>
                <a class="mouseover" type="button" ng-click="checkPurposeDrivenLogin()">Purpose</a>
              </li>

              <li>
                <a class="mouseover" type="button" ng-click="checkFeedbackLogin()">Feedback</a>
              </li>
                <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->                 
                <li class="dropdown" id="menu">                  
                  <a href="" class="dropdown-toggle" data-toggle="dropdown">More... 
                    <b class="caret"></b></a>                  
                  <ul class="dropdown-menu"> 
                    <!--<li class="nav-header">Tournaments</li>-->
                    <li>
                      <a class="mouseover" type="button" ng-click="checkEventsLogin()">Register for an Event</a>
                    </li>
                    <li>
                      <a class="mouseover" type="button" ng-click="checkTournamentLogin()">Join a Tournament</a>
                    </li> 
                    <li>                                                  
                    <li class="divider" ng-show="player.countryCode=='SG'||player.countryCode==''"></li> 
                    <li type="button" ng-show="player.countryCode=='SG'||player.countryCode==''" class="nav-header">Singapore Schools</li>                    
                    
                    <li ng-show="player.countryCode=='SG'||player.countryCode==''">
                      <a class="mouseover" type="button" ng-click="checkSchoolRegistrationLogin()">Register Your School</a>
                    </li>
                    
                    <li ng-show="player.countryCode=='SG'||player.countryCode==''">
                      <a class="mouseover" type="button" ng-click="checkSchoolsMapLogin()">View Schools Map</a>
                    </li>
                    <!-- <li>
                      <a type="button" ng-click="checkCreateEventsLogin()">Events</a>
                    </li> !-->
                    <li class="divider"></li>                    
                    <li class="nav-header">About Us</li>                    
                    <li>
                      <a class="mouseover" ng-click="toVideos()">Learn about SingPath</a>
                    </li> 
                    <li>
                      <a href ="https://www.facebook.com/pages/Singpath/288817147942516" target="_blank">
					  Visit us on Facebook </a>
                    </li> 					
                    
                    <li class="divider"></li>                    
                    <li class="nav-header">Create</li>
                    <li>
                      <a class="mouseover" ng-click="checkCreatePathorLevelLogin()">Problems</a>
                    </li>   
                    <li>
                      <a class="mouseover" type="button" ng-click="checkStoryLogin()">Tutorials</a>
                    </li>
                    
                    <li>
                      <a type="button" ng-click="checkCreateEventsLogin()">Events</a>
                    </li>
                     
                    <li>
                      <a class="mouseover" type="button" ng-click="checkCreateTournamentLogin()">Tournaments</a>
                    </li> 
                    
                    <li class="divider"></li> 
                    <li class="nav-header">Other Stuff</li>
                    <!-- Rankings are not currently being used. 
                    <li>
                      <a class="mouseover" type="button" ng-click="checkRankingLogin()">Location Rankings</a>
                    </li>  
                    -->
                    <li>
                      <a class="mouseover" type="button" ng-click="checkChallengesLogin()">Challenges</a>
                    </li>            
                  </ul>                
                </li>
                <li>
                  <a class="mouseover" type="button" ng-click="checkProfileLogin()">Profile</a>
                </li>                           
              </ul>            
            </div>
            <!--/.nav-collapse -->          
          </div>
          <!-- /.navbar-inner -->        
        </div>
        <!-- /.navbar -->      
      </div> 
      <!-- /.container -->    
    </div>
    <!-- /.navbar-wrapper -->    
    <!-- Carousel
        ================================================== --> 
  <div ng-view></div>
  <!--Notification to Anoynmous User- "Ques will not be saved!"-->
  <div class="modal fade" id="loginAlert">
    <div class="modal-header" style="color:black">
      <a class="close"  href="#" data-dismiss="modal">&times;</a>
        <h3>Dear Agent!</h3>
    </div>
    <div class="modal-body" style="color:black">
      <p style="font-color:black">You are currently not logged in. Loggin to embark on Quest or Practice a Language!</p>
    </div>
    <div class="modal-footer">
      <a ng-show="!player.nickname" class="janrainEngage" href="#"><button class="btn btn-primary" ng-click='dismissModal()'>Login</button></a>
    <a ng-show="!player.nickname" href="#" data-dismiss="modal"><button name="gotit" class="btn btn-primary" ng-click='dismissModal()'>Got it!</button></a>
    </div>
  </div>
    <!-- /.carousel -->    
    <!-- Marketing messaging and featurettes
        ================================================== -->    
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <!-- /.container -->    
    <!-- Le javascript
        ================================================== -->    
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/app.js"></script>
    <script src='js/app.js'></script>
    <script src='js/angular-google-maps.js'></script>
    <script src='js/app-config.js'></script>
    <script src='js/admin-controllers.js'></script>
    <script src='js/analytics.js'></script>
    <script src='js/BATController.js'></script>
    <script src='js/controllers.js'></script>
    <script src='js/directives.js'></script>
    <script src='js/fancybox-fire.js'></script>
    <script src='js/filters.js'></script>
    <script src='js/PurposeDrivenAdminController.js'></script>
    <script src='js/PurposeDrivenController.js'></script>
    <script src='js/school-controllers.js'></script>
    <script src='js/services.js'></script>
    <script src='js/tournament-controllers.js'></script>
    <script src='js/TournamentGameController.js'></script>
    <script src='js/ymbcoaching-controllers.js'></script>
    <script src='js/ymbcoaching-play-controllers.js'></script>
    <script src='js/WebGameController.js'></script>
    <script src="http://www.youtube.com/player_api"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>

    

<!-- For testing -->
<script type="text/javascript">
    if(document.location.port && document.location.port!= 80){
        document.write('<script src="../test/scenario.js"><'+'/script>');
    }
</script>

<!-- End Deployment Comment -->

<script>
    !function ($) {
      $(function(){
        // carousel demo
        $('#myCarousel').carousel('pause')
      })
    }
</script>

<script type='text/javascript'>
  $(window).load(function(){
  //$('#myCarousel input:radio').addClass('input_hidden');
  $('#myCarousel input:image').click(function() {
    $('#myCarousel input:image').removeClass('selected');   
    $(this).addClass('selected');
    
  });
  
  $('#path input:image').click(function() {
    $('#path input:image').removeClass('selected');   
    $(this).addClass('selected');
    
  });
  
  $('#path1 input:image').click(function() {
    $('#path1 input:image').removeClass('selected');   
    $(this).addClass('selected');
    
  });
  
  $('#myTab a').click(function (e) {
    $(this).tab('show');
    if ($('.btn-navbar').is(":visible") && e.target.className != "dropdown-toggle")
      $('.btn-navbar').click();
  });

  $(document).on("keydown", function (e) {
    if (e.which === 8 && !$(e.target).is("input, textarea")) {
        e.preventDefault();
    }
  });
  
});

</script>
</body>
<footer>
</footer>
</html>
